<!-- start party create -->
<!-- start party create page header-->
<div ng-show="service" class="page-header">
    <div class="page-header-actions">
        <button ng-click="onEdit()" ng-hide="edit" type="button" class="btn btn-outline btn-default btn-md empty-btn" title="Click to edit service">
            <i class="icon icon-pencil" aria-hidden="true"></i>
        </button>
        <button ng-disabled="serviceForm.$invalid || !service.name || !service.code" ng-click="save()" ng-show="edit" type="button" class="btn btn-primary btn-md empty-btn" title="Click to save service">
            Save
        </button>
        <button ng-click="delete(service)" ng-show="edit && service._id" type="button" class="btn btn-outline btn-default btn-md empty-btn" title="Delete service permanently">
            <i class="icon icon-trash" aria-hidden="true"></i>
        </button>
        <button ui-sref="app.services.list" type="button" class="btn btn-outline btn-default btn-md empty-btn" title="Cancel service edits">
            <i class="icon ti-close" aria-hidden="true"></i>
        </button>
    </div>
</div>
<!-- end party create page header-->
<!-- start party create page content -->
<div class="page-content page-content-table">
    <div class="container party">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 margin-top-60">
                <pulse-spinner ng-show="!service"></pulse-spinner>
                <form ng-show="party" name="serviceForm" class="form-layout" autocomplete="off" novalidate>
                    <div class="form-inputs">
                        <div class="form-group form-material floating">
                            <input ng-disabled="!edit" ng-model="service.code" ng-required type="text" name="code" class="form-control" title="Code" />
                            <label ng-class="{'font-size-14':!edit,'blue-700':!edit, 'font-weight-400':!edit}" class="floating-label" title="Service Code">Code</label>
                        </div>
                    </div>
                    <br/>
                    <div class="form-inputs">
                        <div class="form-group form-material floating">
                            <input ng-disabled="!edit" ng-model="service.name" ng-required type="text" name="name" class="form-control" title="Name" />
                            <label ng-class="{'font-size-14':!edit,'blue-700':!edit, 'font-weight-400':!edit}" class="floating-label" title="Service Name">Name</label>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group form-material floating">
                        <textarea ng-disabled="!edit" ng-model="service.description" msd-elastic name="description" class="form-control" rows="3">
                        </textarea>
                        <label ng-class="{'font-size-14':!edit,'blue-700':!edit, 'font-weight-400':!edit}" class="floating-label">Description</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end party create content -->
<!-- end party create -->
