<!-- start header -->
<div class="header">
    <!-- start top navbar -->
    <div class="navbar b-b">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" title="Create or Add New Issue">
                    <span class="btn btn-sm btn-icon">
                        <i class="icon ti-plus"></i>
                    </span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav-link" title="Previous">
                    <span class="btn btn-sm btn-icon">
                        <i class="icon ti-angle-left"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Next">
                    <span class="btn btn-sm btn-icon">
                        <i class="icon ti-angle-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end top navbar -->
</div>
<!-- end header -->
