<!-- start issues side subnav -->
<div class="row-col bg b-r">
    <div class="box-shadow-z1">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <span class="navbar-item text-md">
                        Issues
                    </span>
                </li>
            </ul>
            <!-- <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#modal-new">
                        <span class="btn btn-sm btn-icon rounded white">
                            <i class="fa fa-plus"></i>
                        </span>
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
    <div class="row-row">
        <div class="row-body scrollable hover">
            <div class="row-inner">
                <div class="navside m-x-xs m-t">
                    <nav class="nav-stacked nav-stacked-rounded nav-active-info">
                        <ul class="nav" data-ui-nav>
                            <!-- <li class="active"> -->
                            <li>
                                <a href="#inbox">
                                    <span class="nav-label">
                                    <b class="label primary rounded">12</b>
                                </span>
                                    <span class="nav-icon">
                                    <i class="ion-ios-filing"></i>
                                </span>
                                    <span class="nav-text">Lack of Water</span>
                                </a>
                            </li>
                            <li>
                                <a href="#sent">
                                    <span class="nav-label">
                            <b class="label info rounded">4</b>
                            </span>
                                    <span class="nav-icon"><i class="ion-paper-airplane"></i>
                            </span>
                                    <span class="nav-text">Billing Equiry</span>
                                </a>
                            </li>
                            <li>
                                <a href="#draft">
                                    <span class="nav-label">
                            <b class="label rounded">30</b>
                            </span>
                                    <span class="nav-icon">
                            <i class="ion-clipboard"></i></span>
                                    <span class="nav-text">Leakage</span>
                                </a>
                            </li>
                            <li>
                                <a href="#trash">
                                    <span class="nav-label">
                            <b class="label rounded">6</b>
                            </span>
                                    <span class="nav-icon">
                            <i class="ion-trash-b"></i>
                            </span>
                                    <span class="nav-text">Others</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="p-a-md">
                    <div class="m-b text-muted text-xs">Status</div>
                    <div class="nav-active-white">
                        <ul class="nav">
                            <li class="nav-item m-b-xs">
                                <a class="nav-link text-muted block">
                                    <span class="pull-right text-sm">23</span>
                                    <span>Open</span>
                                </a>
                            </li>
                            <li class="nav-item m-b-xs">
                                <a class="nav-link text-muted block">
                                    <span class="pull-right text-sm">2</span> In Progress</a>
                            </li>
                            <li class="nav-item m-b-xs">
                                <a class="nav-link text-muted block">
                                    <span class="pull-right text-sm">4</span> Pending
                                </a>
                            </li>
                            <li class="nav-item m-b-xs">
                                <a class="nav-link text-muted block"><span class="pull-right text-sm">1</span>Closed
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end issues side subnav -->
