<!-- start servicerequest detail action bar -->
<ul class="nav navbar-nav">
    <li class="nav-item p-r">
        <a class="nav-link text-muted" title="Send Reply to the Reporter">
            <span class="nav-text">
                <i class="icon-action-undo"></i>
            </span>
        </a>
    </li>
    <li class="nav-item b-l p-l p-r">
        <a class="nav-link text-muted no-border" title="People on Issue">
            <span class="nav-text">
                <i class="icon-people"></i>
            </span>
        </a>
    </li>
    <li class="nav-item b-l p-l p-r">
        <a class="nav-link text-muted no-border" title="Comments">
            <span class="nav-text">
                <i class="fa fa-comments-o"></i>
            </span>
        </a>
    </li>
    <li class="nav-item hidden-sm-down b-l p-l p-r">
        <a class="nav-link text-muted no-border" title="Work Logs">
            <span class="nav-text">
                <i class="fa fa-hourglass-o"></i>
            </span>
        </a>
    </li>
    <li class="nav-item hidden-sm-down b-l p-l p-r">
        <a class="nav-link text-muted no-border" title="Notifications">
            <span class="nav-text">
                <i class="fa fa-bell-o"></i>
                <b class="label rounded danger up">3</b>
            </span>
        </a>
    </li>
    <li title="Delete Issue" class="nav-item b-l p-l">
        <a ng-click="delete(servicerequest)" class="nav-link text-muted no-border">
            <span class="nav-text">
                <i class="fa fa-trash-o"></i>
            </span>
        </a>
    </li>
</ul>
<!-- end servicerequest detail action bar -->
