<!-- start servicerequest detail action bar -->
<ul class="nav navbar-nav">
    <li class="nav-item">
        <a ng-if="mailTo" href="{{mailTo}}" class="nav-link text-muted" title="Send Issue to Area">
            <span class="nav-text">
                <i class="icon-action-redo"></i>
            </span>
        </a>
    </li>
    <li ng-if="!servicerequest.resolvedAt" class="nav-item b-l p-l p-r">
        <a ng-click="onClose()" class="nav-link text-muted no-border" title="Click To Signal Feedback Provided To Reporter">
            <span class="nav-text">
                <i class="icon-call-out"></i>
            </span>
        </a>
    </li>
    <li ng-if="servicerequest.resolvedAt" class="nav-item b-l p-l p-r">
        <a ng-click="onReOpen()" class="nav-link text-muted no-border" title="Click To Re-Open The Issue">
            <span class="nav-text">
                <i class="icon-call-in"></i>
            </span>
        </a>
    </li>
    <li class="nav-item b-l p-l p-r">
        <a ng-click="onCopy()" class="nav-link text-muted no-border" title="Click To Copy Reporter Information & Create New Issue">
            <span class="nav-text">
                <i class="icon-magic-wand"></i>
            </span>
        </a>
    </li>
</ul>
<!-- end servicerequest detail action bar -->
