<!-- start issue comment -->
<div class="padding b-t">
  <h6 class="m-b" title="Internal Notes & Comments">Internal Notes</h6>
  <div class="p-a">
    <div
      print-hide
      ng-if="!servicerequest.resolvedAt"
      class="p-a p-y-sm b-t b-b m-b"
    >
      <form>
        <div class="input-group b-a b-transparent">
          <input
            ng-enter="comment()"
            ng-model="note.content"
            type="text"
            class="form-control no-border font-size-12"
            placeholder="Write your note"
            id="internal-comment-box"
          />
          <span class="input-group-btn">
            <button
              ng-click="comment()"
              class="btn no-bg no-shadow"
              type="button"
            >
              <i class="fa fa-send text-success"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class="streamline m-b">
      <div
        class="sl-item"
        ng-style="comment.color ? {'border-color': comment.color} : {}"
        ng-repeat="comment in comments"
      >
        <div class="sl-content">
          <div class="sl-date text-muted">
            <span class="text-info">
              {{ comment.changer.name }}
            </span>
            on {{ comment.createdAt | date: 'dd MMM yyyy hh:mm:ss a' }}
          </div>
          <p ng-if="comment.comment">{{ comment.comment }}</p>
          <p ng-if="comment.item">
            Used {{ comment.quantity }} - {{ comment.item.properties.unit }} of
            {{ comment.item.name.en }}
          </p>
          <p ng-if="comment.location && comment.location.coordinates">
            Change location to longitude: {{ comment.location.coordinates[0] }},
            latitude: {{ comment.location.coordinates[1] }}
          </p>
          <p ng-if="comment.status && comment.status.name">
            Change status to
            <span
              class="label rounded success pos-rlt m-l-xs b-a-xs"
              ng-style="comment.status ? {'background-color': comment.status.color} : {}"
            >
              <b
                class="arrow left b-success pull-in"
                ng-style="comment.status ? {'border-color': comment.status.color} : {}"
              ></b>
              {{ comment.status.name }}
            </span>
          </p>
          <p ng-if="comment.priority && comment.priority.name">
            Change priority to
            <span
              class="label rounded success pos-rlt m-l-xs b-a-xs"
              ng-style="comment.priority ? {'background-color': comment.priority.color} : {}"
            >
              <b
                class="arrow left b-success pull-in"
                ng-style="comment.priority ? {'border-color': comment.priority.color} : {}"
              ></b>
              {{ comment.priority.name }}
            </span>
          </p>
          <p ng-if="comment.assignee && comment.assignee.name">
            Assign to {{ comment.assignee.name }}
            <span ng-if="comment.zone && comment.zone.name">
              of {{ comment.zone.name.en }} zone
            </span>
          </p>
          <p ng-if="comment.cause && comment.cause.name">
            Change root cause to, {{ comment.cause.name.en }}
          </p>
          <p ng-if="comment.measure && comment.measure.name">
            Change action taken to, {{ comment.measure.name.en }}
          </p>
          <p ng-if="comment.advisory && comment.advisory.name">
            Change way foward to, {{ comment.advisory.name.en }}
          </p>
          <p ng-if="comment.resolvedAt">
            Change status to
            <span
              class="label rounded success pos-rlt m-l-xs b-a-xs"
              style="background-color: #4CAF50;"
            >
              <b
                class="arrow left b-success pull-in"
                style="border-color: #4CAF50;"
              ></b>
              Resolved
            </span>
          </p>
          <p ng-if="comment.reopenedAt">
            Change status to
            <span
              class="label rounded success pos-rlt m-l-xs b-a-xs"
              style="background-color: #F44336;"
            >
              <b
                class="arrow left b-success pull-in"
                style="border-color: #F44336;"
              ></b>
              Reopened
            </span>
          </p>
          <p ng-if="comment.approvedAt">
            Change status to
            <span
              class="label rounded success pos-rlt m-l-xs b-a-xs"
              style="background-color: #1B5E1F;"
            >
              <b
                class="arrow left b-success pull-in"
                style="border-color: #1B5E1F;"
              ></b>
              Approved
            </span>
          </p>
          <p ng-if="comment.verifiedAt">
            Change status to
            <span
              class="label rounded success pos-rlt m-l-xs b-a-xs"
              style="background-color: #EF6C01;"
            >
              <b
                class="arrow left b-success pull-in"
                style="border-color: #EF6C01;"
              ></b>
              Verified
            </span>
          </p>
          <p ng-if="comment.completedAt">
            Change status to
            <span
              class="label rounded success pos-rlt m-l-xs b-a-xs"
              style="background-color: #0D47A3;"
            >
              <b
                class="arrow left b-success pull-in"
                style="border-color: #0D47A3;"
              ></b>
              Completed
            </span>
          </p>
          <p ng-if="comment.attendedAt">
            Change status to
            <span
              class="label rounded success pos-rlt m-l-xs b-a-xs"
              style="background-color: #F9A825;"
            >
              <b
                class="arrow left b-success pull-in"
                style="border-color: #F9A825;"
              ></b>
              Attended
            </span>
          </p>
          <p ng-if="comment.image && comment.image.stream">
            <a
              href="{{ comment.image.stream }}"
              target="_blank"
              title="{{ comment.image.filename }}"
            >
              <img data-ng-src="{{ comment.image.stream }}" height="50px;" />
            </a>
          </p>
          <p ng-if="comment.document && comment.document.download">
            Attached
            <a
              href="{{ comment.document.download }}"
              target="_blank"
              title="{{ comment.document.filename }}"
            >
              <span class="text-muted">
                {{ comment.document.filename }}
              </span>
            </a>
          </p>
          <p ng-if="comment.changer && comment.member">
            {{ comment.changer._id === comment.member._id ? 'Join' : 'Added
            '+comment.member.name }} to receive issue updates
          </p>
          <!-- TODO show attachment changelog -->
        </div>
      </div>
    </div>
  </div>
</div>
