<!-- start servicerequest create -->
<div class="row-col">
    <div class="b-b bg">
        <div class="box-header" style="padding:1.2rem;">
            <h2>Report New Issue</h2>
        </div>
    </div>
    <!-- start servicerequest body -->
    <div class="row-row">
        <div class="row-body">
            <div class="row-inner">
                <div class="padding">
                    <form ng-submit="save()" name="servicerequestForm" role="form" autocomplete="off">
                        <div class="box">
                            <div class="box-header">
                                <h6>Reporter Details</h6>
                            </div>
                            <div class="box-body">
                                <div class="row m-b">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="floating-label">Phone</label>
                                            <input ng-model="servicerequest.reporter.phone" ng-required ng-minlength="2" focus-if="!servicerequest.reporter.phone" type="text" name="phone" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="floating-label">Name</label>
                                            <input ng-model="servicerequest.reporter.name" ng-required ng-minlength="2" type="text" name="name" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-b">
                                    <div class="col-sm-6">
                                        <label class="floating-label">Account</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input ng-model="servicerequest.reporter.account" type="text" name="account" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button  ng-click="openLookupModal()" class="btn btn-secondary" type="button"  title="Lookup for customer account details">
                                                        <i class="icon-magnifier"></i>
                                                    </button>
                                                  </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="floating-label">Email</label>
                                            <input ng-model="servicerequest.reporter.email" type="email" name="email" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="p-t p-b" style="margin-top: 2rem;">
                                    <h6 title="Method of Communication used by Reporter">
                                        Communication Method
                                    </h6>
                                </div>
                                <div class="row m-b">
                                    <div class="col-sm-1" ng-repeat="method in methods">
                                        <div>
                                            <label class="md-check text-muted" title="Method of Communication used by Reporter">
                                            <input type="radio" ng-model="servicerequest.method.name" ng-value="method" name="method"> <i class="blue"></i> {{method}}
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-t p-b m-t" style="margin-top: 4rem;">
                                    <h6>
                                        Issue Details
                                    </h6>
                                </div>
                                <div class="row m-b">
                                    <div class="col-sm-6">
                                        <div class="form-group form-material floating">
                                            <oi-select oi-options="item.name for item in services track by item.id" ng-model="servicerequest.service" ng-required placeholder="Select Service" class="form-control"></oi-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-material floating">
                                            <oi-select oi-options="item.name for item in jurisdictions track by item.id" ng-model="servicerequest.jurisdiction" ng-required placeholder="Select Area" class="form-control"></oi-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="floating-label">Address</label>
                                    <textarea ng-model="servicerequest.address" ng-required msd-elastic name="address" class="form-control" rows="2">
                                  </textarea>
                                </div>
                                <div class="form-group">
                                    <label class="floating-label">Description</label>
                                    <textarea ng-model="servicerequest.description" ng-required msd-elastic name="description" class="form-control" rows="3">
                                    </textarea>
                                </div>
                            </div>
                            <div class="p-a text-right">
                                <button ui-sref="app.servicerequests.list" type="button" ng-click="cancel()" class="btn">Cancel</button>
                                <button ng-disabled="servicerequestForm.$invalid || !servicerequest.reporter.phone || !servicerequest.reporter.name || !servicerequest.service || !servicerequest.jurisdiction || !servicerequest.address || !servicerequest.description" type="submit" class="btn info">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
