<!-- modal header -->
<div class="modal-header">
    <div class="b-b">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">×</button>
        <h4 class="modal-title">Customer Details</h4>
    </div>
</div>
<!-- end modal header -->
<!-- modal body -->
<div class="modal-body">
    <div class="box">
        <div class="box-body">

            <!-- start customer summary details -->
            <div ng-if="customerAccount" class="item">
                <div class="p-a-md">
                    <div class="row m-t">
                        <div class="col-md-10">
                            <!-- start name avatar -->
                            <a href="#" class="pull-left m-r-md">
                             <span>
                               <!-- TODO switch between actual image and letter avatar Use base64 uploader -->
                               <letter-avatar title="{{customerAccount.name}}" data="{{customerAccount.name}}" height="96" width="96" shape="round">
                               </letter-avatar>
                               <i class="on b-white"></i>
                             </span>
                            </a>
                            <!-- end party avatar -->


                            <!-- start party details -->
                            <div class="clear m-b">
                                <div class="row-col">
                                    <h4 class="m-a-0 m-b-sm">
                                        <!-- start customer name -->
                                        <span title="Name">{{customerAccount.name}}</span>
                                        <!-- end customer name -->
                                        <!-- account number -->
                                        <span class="m-l-sm" title="Account Number">#{{customerAccount.number}}</span>
                                        <!-- account number -->
                                    </h4>
                                </div>
                                <!-- start party relations -->
                                <p class="text-muted m-t-sm">
                                    <i class="fa fa-map-marker m-r-xs"></i>
                                    <span title="Working Area">
                                      {{customerAccount.fullAddress}}
                                    </span>
                                </p>
                                <!-- end party relations -->
                                <div class="block clearfix m-b">
                                    <span>
                              <a href="" class="btn btn-icon btn-social rounded b-a btn-sm">
                            <i class="icon-phone"></i>
                            <i class="icon-phone indigo"></i>
                          </a>
                          <!-- TODO should initiate call -->
                              <span title="Phone Number"  class="text-muted">
                                {{customerAccount.phone ? customerAccount.phone : 'N/A'}}
                              </span>
                                    </span>
                                    <span class="m-l-md">
                              <a href="" class="btn btn-icon btn-social rounded b-a btn-sm">
                            <i class="icon-envelope"></i>
                            <i class="icon-envelope light-blue"></i>
                          </a>
                          <!-- TODO should initiate email -->
                              <span title="Email Address" class="text-muted">
                                {{customerAccount.email ? customerAccount.email : 'N/A'}}
                              </span>
                                    </span>
                                </div>
                            </div>
                            <!-- end party details -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end customer summary details -->

            <!-- customer bill -->
            <div ng-if="customerAccount" class="row m-t-lg">
                <div class="box box-shadow-z2">
                    <div class="box-header">
                        <h2>Mini Statement <span class="pull-right">Amount Due: {{customerAccount.outstandingBalance | currency:'Tsh '}}</span></h2>
                    </div>
                </div>
                <div class="list box box-shadow-z2" ng-repeat="bill in customerAccount.bills">
                    <div class="box-header b-b">
                        <h2>{{bill.period.billedAt | date:'MMMM yyyy'}} <small class="pull-right text-muted text-sm">Date of Reading: {{bill.period.billedAt | date:'dd/MM/yyyy'}}</small></h2>
                    </div>
                    <div class="list-item">
                        <div class="list-body">
                            <p class="_500">
                                <!--start bill item  -->
                                <div ng-repeat="item in bill.items">
                                    <span>{{item.name}}</span>
                                    <small class="text-muted pull-right">{{item.quantity | number:0}} Units</small>
                                </div>
                                <!-- end bill item -->
                            </p>
                            <p class="_500">
                                <div>
                                    <span>Open Balance</span>
                                    <small class="text-muted pull-right">{{bill.balance.open | currency:'Tsh '}}</small>
                                </div>
                                <div>
                                    <span>Periodic Charges</span>
                                    <small class="text-muted pull-right">{{bill.balance.charges | currency:'Tsh '}}</small>
                                </div>
                                <div>
                                    <span>Loan/Debt Balance</span>
                                    <small class="text-muted pull-right">{{bill.balance.debt | currency:'Tsh '}}</small>
                                </div>
                                <div>
                                    <span>Closing Balance</span>
                                    <small class="text-muted pull-right">{{bill.balance.close | currency:'Tsh '}}</small>
                                </div>
                            </p>
                            <p class="_500 text-muted">
                                Note:&nbsp;{{bill.notes}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end customer bill -->

                <!-- <div class="list box box-shadow-z2">
                    <div class="box-header b-b">
                        <h2>February 2018 <small class="pull-right text-muted text-sm">Date of Reading: 2018/03/25</small></h2>
                    </div>
                    <div class="list-item">
                        <div class="list-body">
                            <p class="_500">
                                <div>
                                    <span>Previous Reading</span>
                                    <small class="text-muted pull-right">290</small>
                                </div>
                                <div>
                                    <span>Current Reading</span>
                                    <small class="text-muted pull-right">270</small>
                                </div>
                                <div>
                                    <span>Consumptions</span>
                                    <small class="text-muted pull-right">20 m3</small>
                                </div>
                            </p>
                            <p class="_500">
                                <div>
                                    <span>Open Balance</span>
                                    <small class="text-muted pull-right">Tsh.  13,000</small>
                                </div>
                                <div>
                                    <span>Periodic Charges</span>
                                    <small class="text-muted pull-right">Tsh.  12,000</small>
                                </div>
                                <div>
                                    <span>Closing Balance</span>
                                    <small class="text-muted pull-right">Tsh.  25,000</small>
                                </div>
                            </p>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- end customer bill -->

            <!-- account not found details -->
            <div class="row-col">
                <div ng-if="!customerAccount" class="row-cell v-m">
                    <div class="text-center col-sm-6 offset-sm-3 p-y-lg">
                        <p class="text-muted m-y-lg">Account Not Found</p>
                    </div>
                </div>
            </div>
            <!-- end account not found details -->
        </div>
    </div>
</div>
<!-- end modal body -->

<!-- start filter footer -->
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button class="btn btn-primary" ng-click="">Ok</button>
</div>
<!-- end footer filter -->
