<!-- start servicerequest details -->
<div class="row-col">
    <div class="white b-b bg">
        <!-- start servicerequest detail action bar -->
        <div ng-include="'views/servicerequests/_partials/action_bar.html'" class="navbar"></div>
        <!-- end servicerequest details action bar -->
    </div>
    <!-- start servicerequest body -->
    <div class="row-row">
        <div class="row-body">
            <div class="row-inner">
                <div class="padding">
                    <!-- start servicerequest service -->
                    <h4 class="_600">
                        {{servicerequest.service.name}} #{{servicerequest.code}}
                        <span class="pull-right font-size-14" title="Area Responsible">
                        <span class="text-muted font-size-10">Area</span>
                        {{servicerequest.jurisdiction.name}}
                    </span>
                    </h4>
                    <!-- end servicerequest service -->
                    <div class="p-y">
                        <div title="Reporter Name">
                            <span class="text-muted font-size-12">From: </span>
                            <a href="mailto:{{servicerequest.reporter.email}}">{{servicerequest.reporter.name}}</a>
                        </div>
                        <div title="Reporter Account Number">
                            <span class="text-muted font-size-12">Account #: </span>
                            <a>{{servicerequest.reporter.account}}</a>
                        </div>
                        <div title="Reporter Phone Number">
                            <span class="text-muted font-size-12">Phone #: </span>
                            <a>{{servicerequest.reporter.phone}}</a>
                        </div>
                        <div title="Reporter Address">
                            <span class="text-muted font-size-12">Address: </span>
                            <a>{{servicerequest.address}}</a>
                        </div>
                    </div>
                    <div class="p-y b-t">
                        <!-- start representative -->
                        <span title="Operator Responsible">
                            <span class="text-muted font-size-12">Operator: </span>
                        <a href="mailto:{{servicerequest.operator.email}}">{{servicerequest.operator.name}}</a>
                        </span>
                        <!-- end representative -->
                        <!-- start assignee -->
                        <span uib-dropdown class="m-l">
                            <span uib-dropdown-toggle class="text-muted font-size-12">Assignee: </span>
                        <a href="mailto:{{servicerequest.assignee.email}}">{{servicerequest.assignee.name}}</a>
                        <div uib-dropdown-menu class="dropdown-menu w dropdown-menu-scale">
                            <ul class="list no-border p-b">
                                <li class="list-item" ng-repeat="assignee in assignees" ng-click="assign(assignee)">
                                    <div class="list-body">
                                        <div>
                                            <a href="#">{{assignee.name}}</a>
                                        </div>
                                        <small class="text-muted text-ellipsis">
                                        {{assignee.relation.type}}
                                        </small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        </span>
                        <!-- end assignee -->
                        <span uib-dropdown class="label primary m-l" title="Status" style="background-color:{{servicerequest.status.color}}">
                           <span uib-dropdown-toggle class="font-size-12 text-white">Status: {{servicerequest.status.name}} </span>
                        <div uib-dropdown-menu class="dropdown-menu w dropdown-menu-scale">
                            <a ng-repeat="status in statuses" ng-click="changeStatus(status)" class="dropdown-item" href="#" title="Status - {{status.name}}">
                                <span>{{status.name}}</span>
                            </a>
                        </div>
                        </span>
                        <span uib-dropdown class="label danger m-l" title="Priority" style="background-color:{{servicerequest.priority.color}}">
                            <span uib-dropdown-toggle class="font-size-12 text-white">Priority: {{servicerequest.priority.name}}</span>
                        <div uib-dropdown-menu class="dropdown-menu w dropdown-menu-scale">
                            <a ng-repeat="priority in priorities" ng-click="changePriority(priority)" class="dropdown-item" href="#" title="Priority {{priority.name}}">
                                <span>{{priority.name}}</span>
                            </a>
                        </div>
                        </span>
                    </div>
                </div>
                <!-- start issue description -->
                <div class="padding b-t">
                    <h6 class="m-b" title="Issue Description">Description</h6>
                    <p class="text-lt">
                        {{servicerequest.description}}
                    </p>
                    <p>&nbsp;</p>
                </div>
                <!-- start issue comment -->
                <div ng-include="'views/servicerequests/_partials/comments.html'"></div>
                <!-- end issue comments -->
            </div>
        </div>
    </div>
    <!-- end servicerequest body -->
</div>
<!-- end servicerequest details -->
