<!-- start servicerequest details -->
<div class="row-col">
  <div class="white b-b bg">
    <!-- start servicerequest detail action bar -->
    <div
      ng-include="'views/servicerequests/_partials/action_bar.html'"
      class="navbar"
    ></div>
    <!-- end servicerequest details action bar -->
  </div>
  <!-- start servicerequest body -->
  <div class="row-row" print-section>
    <div class="row-body">
      <div class="row-inner">
        <div class="padding">
          <!-- start servicerequest service -->
          <h4 class="_600">
            <span title="Issue Nature">
              {{servicerequest.service.name}}
            </span>
            -
            <span title="Issue Number">
              #{{servicerequest.code}}
            </span>
            <span class="pull-right font-size-14">
              <span title="Issue Group/Category">
                <span class="text-muted font-size-10">Group</span>
                {{servicerequest.group.name}}
              </span>
              <br />
              <span title="Area Responsible">
                <span class="text-muted font-size-10">Area</span>
                {{servicerequest.jurisdiction.name}}
              </span>
              <br />
              <span
                ng-if="servicerequest.jurisdiction.phone && servicerequest.jurisdiction.phone != 'N/A'"
                title="Area Phone Number"
              >
                <span class="text-muted font-size-10">Phone</span>
                {{servicerequest.jurisdiction.phone}}
              </span>
            </span>
          </h4>
          <!-- end servicerequest service -->
          <div class="p-y">
            <div title="Reporter Name">
              <span class="text-muted font-size-12">From: </span>
              <span
                ng-click="filterByReporter(servicerequest.reporter.name, {'reporter.name':servicerequest.reporter.name, resolvedAt:null, operator:servicerequest.operator})"
                >{{servicerequest.reporter.name}}</span
              >
            </div>
            <div title="Reporter Account Number">
              <span class="text-muted font-size-12">Account #: </span>
              <span
                ng-click="filterByReporter(servicerequest.reporter.account, {'reporter.account':servicerequest.reporter.account, resolvedAt:null, operator:servicerequest.operator})"
                >{{servicerequest.reporter.account}}</span
              >
            </div>
            <div title="Reporter Phone Number">
              <span class="text-muted font-size-12">Phone #: </span>
              <span
                ng-click="filterByReporter(servicerequest.reporter.phone, {'reporter.phone':servicerequest.reporter.phone, resolvedAt:null, operator:servicerequest.operator})"
                >{{servicerequest.reporter.phone}}</span
              >
            </div>
            <div title="Reporter Address">
              <span class="text-muted font-size-12">Address: </span>
              <span>{{servicerequest.address}}</span>
            </div>
            <div title="Communication Method">
              <span class="text-muted font-size-12">Method: </span>
              <span>{{servicerequest.method.name}}</span>
            </div>
          </div>
          <!-- start call details -->
          <div
            class="p-y b-t"
            ng-show="servicerequest.call.startedAt && servicerequest.call.endedAt"
          >
            <span title="Call Start Time">
              <span class="text-muted font-size-12">
                Call Start:
              </span>
              <span class="font-size-12"
                >{{servicerequest.call.startedAt | date:'dd MMM yyyy hh:mm:ss
                a'}}</span
              >
            </span>
            <span title="Call End Time" class="p-l">
              <span class="text-muted font-size-12">Call End: </span>
              <span class="font-size-12"
                >{{servicerequest.call.endedAt | date:'dd MMM yyyy hh:mm:ss
                a'}}</span
              >
            </span>
            <span title="Call Duration" class="p-l">
              <span class="text-muted font-size-12">Call Duration: </span>
              <span class="font-size-12"
                >{{servicerequest.call.duration.human}}</span
              >
            </span>
          </div>
          <!-- end call details -->
          <!-- start resolve details -->
          <div class="p-b" ng-class="{'p-y b-t':!servicerequest.call}">
            <span title="Date Issue Reported">
              <span class="text-muted font-size-12">Reported: </span>
              <span class="font-size-12"
                >{{servicerequest.createdAt | date:'dd MMM yyyy hh:mm:ss
                a'}}</span
              >
            </span>
            <span
              ng-if="servicerequest.resolvedAt"
              title="Date Issue Resolved"
              class="p-l"
            >
              <span class="text-muted font-size-12">Resolved: </span>
              <span class="font-size-12"
                >{{servicerequest.resolvedAt | date:'dd MMM yyyy hh:mm:ss
                a'}}</span
              >
            </span>
            <span
              ng-if="servicerequest.resolvedAt"
              title="Time Taken To Resolve"
              class="p-l"
            >
              <span class="text-muted font-size-12">TTR: </span>
              <span class="font-size-12">
                {{servicerequest.ttr.human}}
              </span>
            </span>
          </div>
          <!-- end resolve details -->
          <div class="p-y b-t">
            <!-- start representative -->
            <span title="Operator Responsible">
              <span class="text-muted font-size-12">Operator: </span>
              <span>{{servicerequest.operator.name}}</span>
            </span>
            <!-- end representative -->
            <!-- start assignee -->
            <a
              title="Click to assign"
              auto-close="outsideClick"
              class="m-l"
              ng-click="showAssigneeModal()"
            >
              <span class="text-muted font-size-12">Assignee: </span>
              <span>{{servicerequest.assignee.name || 'N/A'}}</span>
            </a>
            <!-- end assignee -->
            <span
              ng-if="!servicerequest.resolvedAt"
              uib-dropdown
              class="label primary m-l"
              title="Status"
              style="background-color:{{servicerequest.status.color}}"
            >
              <span uib-dropdown-toggle class="font-size-12 text-white"
                >Status: {{servicerequest.status.name}}
              </span>
              <div
                ng-if="servicerequest.operator"
                uib-dropdown-menu
                class="dropdown-menu w dropdown-menu-scale"
              >
                <a
                  ng-repeat="status in statuses"
                  ng-click="changeStatus(status)"
                  class="dropdown-item"
                  href="#"
                  title="Status - {{status.name}}"
                >
                  <span>{{status.name}}</span>
                </a>
              </div>
            </span>
            <span
              ng-if="!servicerequest.resolvedAt"
              uib-dropdown
              class="label danger m-l"
              title="Priority"
              style="background-color:{{servicerequest.priority.color}}"
            >
              <span uib-dropdown-toggle class="font-size-12 text-white"
                >Priority: {{servicerequest.priority.name}}</span
              >
              <div
                ng-if="servicerequest.operator"
                uib-dropdown-menu
                class="dropdown-menu w dropdown-menu-scale"
              >
                <a
                  ng-repeat="priority in priorities"
                  ng-click="changePriority(priority)"
                  class="dropdown-item"
                  href="#"
                  title="Priority {{priority.name}}"
                >
                  <span>{{priority.name}}</span>
                </a>
              </div>
            </span>
            <span
              ng-if="servicerequest.resolvedAt"
              class="label danger m-l"
              style="background-color: #4CAF50;"
            >
              <span class="font-size-12 text-white">Resolved</span>
            </span>
          </div>
        </div>
        <!-- start issue description -->
        <div class="padding b-t">
          <h6 class="m-b" title="Issue Description">Description</h6>
          <p class="text-lt">
            {{servicerequest.description}}
          </p>
          <p>&nbsp;</p>
        </div>
        <!-- end issue description -->
        <!-- start issue worklog(used material & equipment) -->
        <div ng-include="'views/servicerequests/_partials/worklog.html'"></div>
        <!-- end issue worklog(used material & equipment) -->
        <!-- start issue map -->
        <div
          class="padding b-t"
          ng-show="servicerequest.longitude && servicerequest.latitude"
        >
          <h6 class="m-b" title="Issue Map">Map</h6>
          <leaflet
            id="servicerequest-map"
            center="map.center"
            markers="map.markers"
            bounds="map.bounds"
            defaults="map.defaults"
            height="280px"
            width="100%"
          ></leaflet>
          <p>&nbsp;</p>
        </div>
        <!-- end issue map -->
        <!-- start issue attachments -->
        <div
          class="padding b-t"
          ng-show="servicerequest.attachments && servicerequest.attachments.length > 0"
        >
          <h6 class="m-b" title="Issue Attachements">Attachments</h6>
          <ng-gallery images="servicerequest.attachments"></ng-gallery>
        </div>
        <!-- end issue attachements -->
        <!-- start issue comment -->
        <div
          ng-if="servicerequest.operator"
          ng-include="'views/servicerequests/_partials/comments.html'"
        ></div>
        <!-- end issue comments -->
      </div>
    </div>
  </div>
  <!-- end servicerequest body -->
</div>
<!-- end servicerequest details -->
