<!-- start message modal header -->
<div class="modal-header">
  <div class="b-b">
    <button
      type="button"
      class="close pull-right"
      ng-click="$close()"
      aria-hidden="true"
    >
      ×
    </button>
    <h4 class="modal-title">Send Issue</h4>
  </div>
</div>
<!-- end message modal header -->

<!-- start message modal body -->
<div class="modal-body">
  <!-- start message form -->
  <div class="box">
    <div class="m-l-lg m-r-lg">
      <form role="form">
        <!-- start message to input -->
        <div class="row m-t-sm">
          <div class="col-md-12">
            <div class="p-a p-l-none">
              <h6 class="m-a-0">
                To
              </h6>
            </div>
          </div>
          <div class="col-md-12">
            <input
              type="text"
              ng-model="message.to"
              class="form-control"
              name="to"
              placeholder="To"
              required
            />
          </div>
        </div>
        <!-- end message to input -->
        <!-- start message subject input -->
        <div class="row m-t-sm">
          <div class="col-md-12">
            <div class="p-a p-l-none">
              <h6 class="m-a-0">
                Subject
              </h6>
            </div>
          </div>
          <div class="col-md-12">
            <input
              type="text"
              ng-model="message.subject"
              class="form-control"
              name="subject"
              placeholder="Subject"
              required
            />
          </div>
        </div>
        <!-- end message subject input -->

        <!-- start message body input  -->
        <div class="row">
          <div class="col-md-12">
            <div class="p-a p-l-none">
              <h6 class="m-a-0">
                Message
              </h6>
            </div>
          </div>
          <div class="col-md-12">
            <textarea
              rows="8"
              msd-elastic
              ng-model="message.body"
              class="form-control"
              name="body"
              placeholder="Message ..."
              required
            >
{{message.body}}</textarea
            >
          </div>
        </div>
        <!-- end message body input -->
      </form>
    </div>
    <!-- end message form -->
  </div>
  <!-- start message modal footer -->
  <div class="modal-footer m-l-lg m-r-lg">
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button class="btn btn-primary" ng-click="send()">Send</button>
  </div>
  <!-- end message modal footer -->
</div>
<!-- end message modal body -->
