<!-- start party list -->
<tbody>
    <tr ng-repeat="party in parties" ui-sref="app.parties.show({id:party._id})" title="{{party.name}}" ng-class="{'active':!party.deletedAt, 'inactive':party.deletedAt}">
        <td>
            <div class="content">
                <div class="title font-weight-600" title="User Name">
                    {{party.name}}
                </div>
                <div class="abstract font-size-12">
                    <h6 ng-show="party.email" title="User Email">Email: {{party.email}}</h6>
                </div>
            </div>
        </td>
        <td class="cell-30 responsive-hide"></td>
        <td class="cell-180">
            <div class="time" title="User Phone Number">
                Phone: {{party.phoneNumber}}
            </div>
        </td>
    </tr>
</tbody>
<!-- end party list -->