<div class="row m-b">
  <div class="col-sm-12">
    <h6 title="Test History">
      A. Test History
    </h6>
  </div>
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">
            Swali: Je mteja...
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1. Hajawahi kupima?
          </td>
          <td>
            <label class="md-check">
              <input
                type="radio"
                ng-model="servicerequest.properties.everTested"
                ng-value="true"
                name="everTested"
              />
              <i class="blue"></i> Yes
            </label>
          </td>
          <td>
            <label class="md-check">
              <input
                type="radio"
                ng-model="servicerequest.properties.everTested"
                ng-value="false"
                name="everTested"
              />
              <i class="blue"></i> No
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
