<!-- start issue worklog -->
<div class="padding b-t">
  <h6 class="m-b" title="Issue WorkLog">WorkLog</h6>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th title="Item(Material or Equipment)">
          Item
        </th>
        <th title="Quantity Used">
          Quantity
        </th>
        <th title="Unit of Measure">
          Unit
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Adaptor Flange 10’’ GS</td>
        <td>1</td>
        <td>PCS</td>
      </tr>
      <tr>
        <td>Adaptor Flange 10’’ GS</td>
        <td>1</td>
        <td>PCS</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- end issue worklog -->
