<!-- start party create -->
<!-- start party create page header-->
<div ng-show="party" class="page-header">
    <div class="page-header-actions">
        <button ng-click="onEdit()" ng-hide="edit" type="button" class="btn btn-outline btn-default btn-md empty-btn" title="Click to edit user">
            <i class="icon icon-pencil" aria-hidden="true"></i>
        </button>
        <button ng-click="block()" ng-show="edit && !party.deletedAt && party._id" type="button" class="btn btn-danger btn-md empty-btn" title="Click to block a user">
            Block
        </button>
        <button ng-click="unblock()" ng-show="edit && party.deletedAt && party._id" type="button" class="btn btn-success btn-md empty-btn" title="Click to unblock a user">
            Unblock
        </button>
        <button ng-disabled="partyForm.$invalid || !party.name || !party.email || !party.phoneNumber" ng-click="save()" ng-show="edit" type="button" class="btn btn-primary btn-md empty-btn" title="Click to save user">
            Save
        </button>
        <button ng-click="delete(party)" ng-show="edit && party._id" type="button" class="btn btn-outline btn-default btn-md empty-btn" title="Delete user permanently">
            <i class="icon icon-trash" aria-hidden="true"></i>
        </button>
        <button ui-sref="app.parties.list" type="button" class="btn btn-outline btn-default btn-md empty-btn" title="Cancel user edits">
            <i class="icon ti-close" aria-hidden="true"></i>
        </button>
    </div>
</div>
<!-- end party create page header-->
<!-- start party create page content -->
<div class="page-content page-content-table">
    <div class="container party">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 margin-top-60">
                <pulse-spinner ng-show="!party"></pulse-spinner>
                <form ng-show="party" name="partyForm" class="form-layout" autocomplete="off" novalidate>
                    <div class="form-inputs">
                        <div class="form-group form-material floating">
                            <input ng-disabled="!edit" ng-model="party.name" ng-required type="text" name="name" class="form-control" title="Full Name" />
                            <label ng-class="{'font-size-14':!edit,'blue-700':!edit, 'font-weight-400':!edit}" class="floating-label" title="Full Name">Name</label>
                        </div>
                    </div>
                    <br/>
                    <div class="form-inputs">
                        <div class="form-group form-material floating">
                            <input ng-disabled="!edit" ng-model="party.email" ng-required type="email" name="email" class="form-control" title="Valid and Active User Email" />
                            <label ng-class="{'font-size-14':!edit,'blue-700':!edit, 'font-weight-400':!edit}" class="floating-label" title="Valid and Active User Email">Email</label>
                        </div>
                    </div>
                    <br/>
                    <div class="form-inputs">
                        <div class="form-group form-material floating">
                            <input ng-disabled="!edit" ng-model="party.phoneNumber" ng-required type="text" name="phoneNumber" class="form-control" title="Valid and Active User Phone Number" />
                            <label ng-class="{'font-size-14':!edit,'blue-700':!edit, 'font-weight-400':!edit}" class="floating-label" title="Valid and Active User Phone Number">Phone Number</label>
                        </div>
                    </div>
                    <br/>
                    <div class="form-inputs">
                        <div class="form-group">
                            <label ng-class="{'font-size-14':!edit,'blue-700':!edit, 'font-weight-400':!edit,'party-role-label':edit}" class="floating-label">Roles</label>
                            <p ng-show="!edit" class="party-role">{{party._roles ? party._roles: 'NA'}}</p>
                            <div ng-show="edit" class="checkbox-custom checkbox-primary" ng-repeat="role in roles">
                                <input type="checkbox" checklist-model="party._assigned" checklist-value="role._id">
                                <label>{{role.name}}</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end party create content -->
<!-- end party create -->