<!-- start servicerequest layout -->
<div class="app-body">
    <div class="app-body-inner">
        <!-- start main servicerequest content -->
        <div class="row-col">
            <!-- start servicerequest create ui -->
            <div ng-include="'views/servicerequests/_partials/create.html'" class="col-xs-12 bg servicerequest" id="detail"></div>
            <!-- end servicerequest create ui -->
        </div>
        <!-- end main servicerequest content -->
    </div>
</div>
<!-- end servicerequest layout -->
