<!-- start servicegroups list -->
<div class="row-col lt">
  <!-- start servicegroups list search -->
  <div class="p-a b-b list-search">
    <form>
      <div class="input-group">
        <input
          type="text"
          ng-change="onSearch()"
          ng-model="search.q"
          class="form-control form-control-sm"
          placeholder="Search Service Groups ..."
        />
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm no-shadow" type="button">
            <i class="ti-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
  <!-- end servicegroup list search -->
  <!-- start servicegroup listing -->
  <div class="row-row">
    <div class="row-body scrollable hover">
      <div class="row-inner">
        <div class="list" data-ui-list="info">
          <div
            ng-click="select(servicegroup)"
            class="list-item list-item-padded"
            ng-repeat="servicegroup in servicegroups"
            title="{{servicegroup.description}}"
          >
            <div class="list-left">
              <span class="w-40 avatar circle">
                <letter-avatar
                  title="Service Group Code"
                  data="{{servicegroup.code}}"
                  height="60"
                  width="60"
                  color="{{servicegroup.color}}"
                  shape="round"
                >
                </letter-avatar>
              </span>
            </div>
            <div class="list-body">
              <span
                title="Service Group Code"
                class="pull-right text-xs text-muted"
              >
                {{servicegroup.code}}
              </span>
              <div title="Service Group Name" class="item-title">
                <span class="_500">{{servicegroup.name}}</span>
              </div>
              <p class="block text-muted text-ellipsis">
                {{servicegroup.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end servicegroup listing -->
  <!-- start pagination -->
  <div class="p-x-md p-y">
    <div
      class="btn-group pull-right list-pager"
      uib-pager
      ng-show="willPaginate()"
      total-items="total"
      ng-model="page"
      items-per-page="limit"
      ng-change="find()"
      template-url="views/_partials/list_pager.html"
    ></div>
    <span class="text-sm text-muted">Total: {{total}}</span>
  </div>
  <!-- end pagination -->
</div>
<!-- end servicegroups list -->
