<!-- start dashboard layout -->
<div class="container dashboard">
    <div class="row">
        <div class="col-md-12" ng-include="'views/dashboard/widgets/general_summary.html'">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6" ng-include="'views/dashboard/widgets/customer_segmentation.html'">
        </div>
        <div class="col-md-6" ng-include="'views/dashboard/widgets/bills_summary.html'">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6" ng-include="'views/dashboard/widgets/total_sales_per_product.html'">
        </div>
        <div class="col-md-6" ng-include="'views/dashboard/widgets/total_sales_per_licence.html'">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6" ng-include="'views/dashboard/widgets/entitlement_count_per_product.html'">
        </div>
        <div class="col-md-6" ng-include="'views/dashboard/widgets/entitlement_count_per_licence.html'">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6" ng-include="'views/dashboard/widgets/activation_count_per_product.html'">
        </div>
        <div class="col-md-6" ng-include="'views/dashboard/widgets/activation_count_per_licence.html'">
        </div>
    </div>
</div>
<!-- end dashboadr layout -->