/*normalize font family, font size and font weight*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
fieldset,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button,
select,
textarea .normal {
    font-family: Lato, "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

html,
body {
    background-color: #ffffff;
}

.navside ul,
.nav-active-white ul {
    display: block;
}

.navside .dropdown-toggle::after {
    content: none;
}


/**support angular bootstrap*/

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}


/*settings style*/

.search-settings {
    padding: 0.9rem;
    font-family: Lato;
}


/*issue styles*/

.nav-servicerequests .nav-text {
    margin-right: 1rem;
}

.search-servicerequests {
    padding: 0.9rem;
    font-family: Lato;
}

.servicerequest .navbar {
    /*display: inherit;*/
}

.servicerequest .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.servicerequest .dropdown-toggle::after {
    /*content: none;*/
}


/*status navigation*/

.nav-active-white .nav-link {
    padding-left: 0.5em;
    padding-right: 0.5em;
}


/*list*/

.list-item-padded {
    padding-top: 16px;
    padding-bottom: 16px;
}


/*navbar ovverides*/

.navbar-nav .text-muted {
    color: #636c72 !important;
}

.navbar-nav .text-muted i {
    /*opacity: .1;*/
}

.list>.list-item:hover:not(.active) {
    background-color: #f9f9f9;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

.nav>.nav-item:hover:not(.active) {
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: font-weight 0.2s ease-in;
    transition: font-weight 0.2s ease-in;
}

.list>.list-item.active,
.list>.list-item:active,
.list>.list-item:focus {
    background-color: #f9f9f9;
}

.nav>.nav-item.active,
.nav>.nav-item:active,
.nav>.nav-item:focus {
    font-weight: bold;
}

#internal-comment-box {
    background-color: #f9f9f9;
}


/*ng-prompt*/

.modal-header {
    padding-bottom: 0px !important;
    border-bottom: 0px !important;
}

.modal-header h4 {
    font-size: 1.125rem;
    line-height: 3.5rem;
    white-space: nowrap;
}

.modal-footer {
    border-top: 0px !important;
    padding-top: 0px !important;
}

.modal-footer button:last-child {
    margin-left: 12px !important;
}

.modal-footer button:nth-child(even) {
    margin-left: 12px !important;
}

@media (min-width: 544px) {
    .modal-dialog {
        max-width: 400px;
    }
    .modal-lg {
        max-width: 900px !important;
    }
}

.modal-content {
    border-radius: 0 !important;
}


/*aside subnav*/

.nav>.nav-item.active .text-muted,
.nav>.nav-item:active .text-muted,
.nav>.nav-item:focus .text-muted {
    opacity: 1;
}

.box {
    /*border: 1px solid rgba(120, 130, 140, .13);*/
}


/*search-servicerequests*/

.list-search .form-control-sm {
    padding-top: 0.28rem;
    padding-bottom: 0.28rem;
}


/*ensure all sv charts text use lato font*/

svg text {
    font-family: Lato !important;
}


/*pager*/

.list-pager {
    padding-left: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.list-pager .disabled>a,
.list-pager .disabled>a:focus,
.list-pager .disabled>a:hover,
.list-pager .disabled>span {
    color: #777;
    cursor: not-allowed;
}


/*box body*/

.p-l-none {
    padding-left: 0 !important;
}

.p-r-none {
    padding-right: 0 !important;
}

.p-b-none {
    padding-bottom: 0 !important;
}

.p-t-none {
    padding-bottom: 0 !important;
}

.b-l-0 {
    border-left: 0 !important;
}

.streamline .label {
    padding: .4em .5em;
    color: #FFFFFF;
}


/*custom checkbox overrides*/

.checkbox-primary input[type="checkbox"]:checked+label::before,
.checkbox-primary input[type="radio"]:checked+label::before {
    background-color: #008CCD !important;
}


/*ng-notify ovverides*/

.ngn-dismiss {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    color: #ffffff !important;
    text-shadow: none !important;
    opacity: 1 !important;
}


/*tables*/

.table-tabular tr:last-child td {
    font-weight: bold;
    background-color: rgba(120, 130, 140, .045);
}

.table-tabular td:last-child {
    font-weight: bold;
    background-color: rgba(120, 130, 140, .045);
}

.table-tabular th:last-child {
    font-weight: bold;
    background-color: rgba(120, 130, 140, .045);
}

.table-tabular td,
th {
    font-size: .76rem;
}

.table-stats th {
    cursor: pointer;
}

.table-stats tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.065);
}
