<!-- start jurisdiction details -->
<div class="row-col">
  <div class="white b-b bg">
    <!-- start jurisdiction detail action bar -->
    <div
      ng-include="'views/jurisdictions/_partials/action_bar.html'"
      class="navbar"
    ></div>
    <!-- end jurisdiction details action bar -->
  </div>
  <!-- start jurisdiction body -->
  <div class="row-row">
    <div class="row-body">
      <div class="row-inner">
        <div class="padding">
          <form
            ng-submit="save()"
            name="jurisdictionForm"
            role="form"
            autocomplete="off"
            novalidate
          >
            <div class="box">
              <div class="box-body">
                <div title="Jurisdiction Name">
                  <div class="form-group">
                    <label title="Jurisdiction Code" class="floating-label"
                      >Code</label
                    >
                    <input
                      ng-disabled="!edit"
                      ng-model="jurisdiction.code"
                      ng-required
                      ng-minlength="1"
                      type="text"
                      name="code"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row m-t-lg">
                  <div class="col-sm-6" title="Jurisdiction Name">
                    <div class="form-group">
                      <label title="Jurisdiction Name" class="floating-label"
                        >Name</label
                      >
                      <input
                        ng-disabled="!edit"
                        ng-model="jurisdiction.name"
                        ng-required
                        ng-minlength="2"
                        type="text"
                        name="name"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6" title="Jurisdiction Phone">
                    <div class="form-group">
                      <label title="Mobile Phone Number" class="floating-label"
                        >Phone</label
                      >
                      <input
                        ng-disabled="!edit"
                        ng-model="jurisdiction.phone"
                        ng-required
                        ng-minlength="2"
                        type="text"
                        name="phone"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row m-t-lg">
                  <div class="col-sm-12" title="Jurisdiction Email">
                    <div class="form-group">
                      <label title="Email Address" class="floating-label"
                        >Email</label
                      >
                      <input
                        ng-disabled="!edit"
                        ng-model="jurisdiction.email"
                        ng-required
                        ng-minlength="2"
                        type="text"
                        name="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row m-t-lg">
                  <div class="col-sm-12" title="Jurisdiction Website">
                    <div class="form-group">
                      <label title="Website URL" class="floating-label"
                        >Website</label
                      >
                      <input
                        ng-disabled="!edit"
                        ng-model="jurisdiction.website"
                        ng-required
                        ng-minlength="2"
                        type="text"
                        name="website"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row m-t-lg">
                  <div class="col-sm-6" title="Jurisdiction Longitude">
                    <div class="form-group">
                      <label title="Longitude" class="floating-label"
                        >Longitude</label
                      >
                      <input
                        ng-disabled="!edit"
                        ng-model="jurisdiction.longitude"
                        ng-required
                        type="number"
                        name="longitude"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6" title="Jurisdiction Latitude">
                    <div class="form-group">
                      <label title="Latitude" class="floating-label"
                        >Latitude</label
                      >
                      <input
                        ng-disabled="!edit"
                        ng-model="jurisdiction.latitude"
                        ng-required
                        type="number"
                        name="latitude"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="m-t-lg" title="Jurisdiction Details">
                  <div class="form-group">
                    <label class="floating-label">About</label>
                    <textarea
                      ng-disabled="!edit"
                      ng-model="jurisdiction.about"
                      msd-elastic
                      name="about"
                      class="form-control"
                      rows="2"
                    >
                    </textarea>
                  </div>
                </div>
                <div class="m-t-lg" title="Jurisdiction Physical Address">
                  <div class="form-group">
                    <label class="floating-label">Physical Address</label>
                    <textarea
                      ng-disabled="!edit"
                      ng-model="jurisdiction.address"
                      msd-elastic
                      name="about"
                      class="form-control"
                      rows="2"
                    >
                    </textarea>
                  </div>
                </div>
                <div class="m-t-lg" title="Jurisdiction Color">
                  <color-picker ng-model="jurisdiction.color"> </color-picker>
                  <div class="m-t-lg">
                    <div class="form-group">
                      <label title="Jurisdiction Color" class="floating-label"
                        >Jurisdiction Color(HEX)</label
                      >
                      <input
                        title="Jurisdiction Color"
                        ng-disabled="!edit"
                        ng-model="jurisdiction.color"
                        ng-required
                        ng-minlength="1"
                        type="text"
                        name="color"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end jurisdiction body -->
</div>
<!-- end jurisdiction details -->
