<!-- start party page actions -->
<div class="actions-main">
    <div class="btn-group">
        <button ng-click="find()" class="btn btn-icon btn-pure btn-default" aria-expanded="false" type="button" title="Click to Refresh Areas">
            <i class="icon icon-refresh font-size-18" aria-hidden="true"></i>
        </button>
        <button ui-sref="app.jurisdictions.create" class="btn btn-icon btn-pure btn-default" aria-expanded="false" type="button" title="Click to Add New Area">
            <i class="icon ti-plus font-size-18" aria-hidden="true"></i>
        </button>
    </div>
</div>
<!-- end party page actions -->
