<!-- start status detail action bar -->
<ul class="nav navbar-nav">
    <li ng-if="edit" class="nav-item">
        <a ng-click="onCancel()" class="nav-link text-muted" title="Click to Cancel Status Edit">
            <span class="nav-text">
                <i class="icon ti-close" aria-hidden="true"></i>
            </span>
        </a>
    </li>
    <li ng-if="!edit" class="nav-item">
        <a ng-click="onNew()" class="nav-link text-muted" title="Click to Add New Status">
            <span class="nav-text">
                <i class="icon ti-plus" aria-hidden="true"></i>
            </span>
        </a>
    </li>
    <li ng-if="!edit" class="nav-item b-l p-l p-r">
        <a ng-click="onEdit()" class="nav-link text-muted no-border" title="Click to edit status">
            <span class="nav-text">
                <i class="icon-pencil" aria-hidden="true"></i>
            </span>
        </a>
    </li>
    <li ng-if="edit" class="nav-item b-l p-l p-r">
        <a ng-click="save()" class="nav-link text-muted no-border" title="Click to save status">
            Save
        </a>
    </li>
</ul>
<!-- end status detail action bar -->
