<!-- start status details -->
<div class="row-col">
    <div class="white b-b bg">
        <!-- start status detail action bar -->
        <div ng-include="'views/statuses/_partials/action_bar.html'" class="navbar"></div>
        <!-- end status details action bar -->
    </div>
    <!-- start status body -->
    <div class="row-row">
        <div class="row-body">
            <div class="row-inner">
                <div class="padding">
                    <form ng-submit="save()" name="servicerequestForm" role="form" autocomplete="off" novalidate>
                        <div class="box">
                            <div class="box-body">
                                <div class="m-b" title="Status Name">
                                    <div class="form-group form-material floating">
                                        <input ng-disabled="!edit" ng-model="status.name" ng-required ng-minlength="2" type="text" name="name" class="form-control" />
                                        <label title="Status Name" class="floating-label">Name</label>
                                    </div>
                                </div>
                                <div class="m-t-lg" title="Status Weight">
                                    <div class="form-group form-material floating">
                                        <input ng-disabled="!edit" ng-model="status.weight" ng-required type="number" name="name" class="form-control" />
                                        <label title="Status Weight" class="floating-label">Weight</label>
                                    </div>
                                </div>
                                <div class="m-t-lg" title="Status Color">
                                    <color-picker ng-model="status.color">
                                    </color-picker>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end status body -->
</div>
<!-- end status details -->
