<!-- start status details -->
<div class="row-col">
    <div class="white b-b bg">
        <!-- start status detail action bar -->
        <div ng-include="'views/statuses/_partials/action_bar.html'" class="navbar"></div>
        <!-- end status details action bar -->
    </div>
    <!-- start status body -->
    <div class="row-row">
        <div class="row-body">
            <div class="row-inner">
                <div class="padding">
                    <!-- start status service -->
                    <h4 class="_600">
                        {{status.name}}
                        <span class="pull-right font-size-14" title="Top Jurisdiction">
                        <span class="text-muted font-size-10">Area</span>
                        {{status.status.name}}
                    </span>
                    </h4>
                    <!-- end status service -->
                    <div class="p-y">
                        <div title="Email">
                            <span class="text-muted font-size-12">Weight: </span>
                            <span>{{status.weight}}</span>
                        </div>
                    </div>
                    <div class="p-y b-t">
                        <span title="Operator Responsible">
                            <span class="text-muted font-size-12">Operator: </span>
                        <a href="mailto:{{status.operator.email}}">
                            {{status.operator.name}}
                        </a>
                        </span>
                    </div>
                </div>
                <!-- start issue description -->
                <div class="padding b-t">
                    <h6 class="m-b" title="Jurisdiction Description">About</h6>
                    <p class="text-lt">
                        {{status.name}}
                    </p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end status body -->
</div>
<!-- end status details -->
