<!-- start jurisdiction list -->
<tbody>
    <tr ng-repeat="jurisdiction in jurisdictions" ui-sref="app.jurisdictions.show({id:jurisdiction._id})" title="{{jurisdiction.name}}" ng-class="{'active':!jurisdiction.deletedAt, 'inactive':jurisdiction.deletedAt}">
        <td>
            <div class="content">
                <div class="title font-weight-600" title="Name">
                    {{jurisdiction.name}}
                </div>
                <div class="abstract font-size-12">
                    <h6 ng-show="jurisdiction.domain" title="Code">Domain: {{jurisdiction.domain}}</h6>
                </div>
            </div>
        </td>
        <td class="cell-30 responsive-hide"></td>
        <td class="cell-180">
            <div class="time" title="Code">
                Code: {{jurisdiction.code}}
            </div>
        </td>
    </tr>
</tbody>
<!-- end jurisdiction list -->
