<!-- start report header -->
<div class="app-header bg b-b bg-white">
  <div class="navbar">
    <!-- start report title -->
    <div class="navbar-item pull-left h5 text-md">
      Trending - Reports
    </div>
    <!-- end report title -->
    <!-- start report actions -->
    <ul class="nav navbar-nav pull-right">
      <!-- start filter -->
      <li class="nav-item">
        <a
          ng-click="showFilter()"
          class="nav-link"
          aria-expanded="false"
          title="Click to Filter Report"
        >
          <i
            class="ion-android-funnel w-24"
            title="Click To Filter Reports"
          ></i>
        </a>
      </li>
      <!-- end filter -->
    </ul>
    <!-- end report actions -->
  </div>
</div>
<!-- end report header -->
<!-- start app body -->
<div class="app-body">
  <div class="app-body-inner">
    <ng-include
      src="'views/dashboards/trending/_partials/hours_per_days_heatmap.html'"
    ></ng-include>

    <ng-include
      src="'views/dashboards/trending/_partials/month_per_year_trending.html'"
    ></ng-include>
  </div>
</div>
<!-- end app body -->
