<!-- start dashboard header -->
<div class="app-header bg b-b bg-white">

    <!-- start navbar -->
    <div class="navbar">

        <!-- start report title -->
        <div class="navbar-item pull-left h5 text-md">
            Overview - Reports
        </div>
        <!-- end report title -->

        <!-- start report actions -->
        <ul class="nav navbar-nav pull-right">

            <!-- start filter -->
            <li class="nav-item">
                <a ng-click="showFilter()" class="nav-link" aria-expanded="false" title="Click to Filter Report">
                  <i class="ion-android-funnel w-24" title="Click To Filter Reports"></i>
                </a>
            </li>
            <!-- end filter -->

            <!-- start download -->
            <li class="nav-item" ng-if="overviews && overviews.length > 0">
                <a title="Click To Export Reports" class="nav-link" ng-csv="export" csv-header="exports.headers" filename="overviews.csv">
                  <i class="icon-cloud-download w-24" title="Click To Export Reports"></i>
                </a>
            </li>
            <!-- end download -->

        </ul>
        <!-- end report actions -->

    </div>
    <!-- end navbar -->

</div>
<!-- end dashboard header -->

<!-- start overview body -->
<div class="app-body">
    <div class="app-body-inner">

        <!-- start overall summary -->
        <ng-include ng-if="overviews.overall" src="'views/dashboards/overviews/_partials/overall_summary.html'"></ng-include>
        <!-- end overall summary -->

        <!-- start jurisdictions summary -->
        <ng-include ng-if="overviews.jurisdictions" src="'views/dashboards/overviews/_partials/jurisdictions_summary.html'"></ng-include>
        <!-- end jurisdictions summary -->

        <!-- start service groups summary -->
        <!-- see http://gallery.echartsjs.com/editor.html?c=xrJZ60TVIg -->
        <ng-include ng-if="overviews.groups" src="'views/dashboards/overviews/_partials/service_groups_summary.html'"></ng-include>
        <!-- end service groups summary -->

        <!-- start services summary -->
        <!-- see http://gallery.echartsjs.com/editor.html?c=xrJZ60TVIg -->
        <ng-include ng-if="overviews.services" src="'views/dashboards/overviews/_partials/services_summary.html'"></ng-include>
        <!-- end services summary -->

    </div>
</div>
<!-- end overview body -->
