<!-- start change password -->
<div class="container">
    <div class="card card-signin">
        <img class="profile-img" src="images/icon-96.png" alt="Logo">
        <p class="text-center mgn-t20">Type your new password</p>
        <form ng-submit="change()" class="mgn-t30" role="form" autocomplete="off">
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input ng-model="user.password" type="password" id="password" class="form-control input-lg" placeholder="New password" required>
            </div>
            <button class="btn btn-lg btn-misc btn-block" type="submit">Change</button>
            <br/>
            <a ui-sref="app.home" class="display-block text-center m-t-md fs-sm">Continue to use current password</a>
        </form>
    </div>
</div>
<!-- end change password -->