<!-- start signing -->
<div class="b-t">
  <div class="center-block w-xxl w-auto-xs p-y-md text-center">
    <div class="p-a-md">
      <!-- start app logo -->
      <div class="brand m-t-lg m-b-lg">
        <img src="images/logo_md.png" alt="." width="84" />
      </div>
      <!-- end app logo -->
      <!--start signin form-->
      <form
        ng-submit="signin()"
        name="signinForm"
        role="form"
        autocomplete="new-password"
      >
        <!--start username input-->
        <div class="md-form-group float-label">
          <input
            class="md-input"
            name="username"
            ng-model="user.username"
            focus-if="!user.username"
            ng-required
            title="Enter your username"
          />
          <label>Username</label>
        </div>
        <!--start username input-->
        <!--start password input-->
        <div class="md-form-group float-label">
          <input
            class="md-input"
            type="password"
            name="password"
            ng-model="user.password"
            ng-required
            title="Enter your password"
          />
          <label>Password</label>
        </div>
        <!--end password input-->
        <!--start signin button-->
        <button
          ng-disabled="signinForm.$invalid || !user.username || !user.password"
          type="submit"
          class="btn btn-primary btn-block m-t-sm"
        >
          Sign in
        </button>
        <!--end signin button-->
      </form>
      <!--end signin form-->
    </div>
  </div>
</div>
<!-- end container -->
