<!-- start for area per status leaderboard -->
<div class="p-a-lg">
    <!-- start header -->
    <div>
        <h4 title="Work Performed">Issue per Area per Status - Work Progress</h4>
        <small class="block text-muted" title="Count of Reported Issues by Their Area and Status">
          Count of Reported Issues by Their Area and Status
      </small>
    </div>
    <!-- end header -->
    <!-- start of standing comparison reports -->
    <div class="row m-t-md">
        <div class="box">
            <div class="row p-a">
                <div class="col-sm-11">
                </div>
                <div class="col-sm-1">
                    <div class="dt-buttons btn-group">
                        <a class="btn btn-secondary buttons-copy buttons-html5" title="Visualize" tabindex="0" href="#">
                          <i class="icon-eye"></i>
                        </a>
                        <a class="btn btn-secondary buttons-excel buttons-html5" title="Export as CSV" tabindex="0" href="#">
                          <i class="icon-cloud-download"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t">
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Open</th>
                            <th>Escallated</th>
                            <th>In Progress</th>
                            <th>Closed</th>
                            <th>Resolved</th>
                            <th>Late</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="service in areaPerStatus">
                            <td>{{service.name}}</td>
                            <td>{{service.open}}</td>
                            <td>{{service.escallated}}</td>
                            <td>{{service.inprogress}}</td>
                            <td>{{service.closed}}</td>
                            <td>{{service.resolved}}</td>
                            <td>{{service.late}}</td>
                            <td>{{service.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end of standing comparison reports -->
</div>
<!-- end for area per status leaderboard -->
