<!-- start service request counts -->
<hr />
<div class="p-a-lg">
  <!-- start header -->
  <div>
    <h4 title="Hours Spent Working">Hours Spent Working</h4>
    <small
      class="block text-muted"
      title="Total Number of Hours Spent on Attending Service Requests"
    >
      Total Number of Hours Spent on Attending Service Requests
    </small>
  </div>
  <!-- end header -->
  <div class="row m-t-lg">
    <div class="col-sm-6 col-md-3 col-lg-3">
      <div class="box p-a box-shadow-z2">
        <div class="box-header">
          <h2>Today</h2>
          <small
            >{{performances.durations.day.startedAt | date:
            settings.dateFormat}}</small
          >
          <!-- <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline">
                                <a class="nav-link">
                                  <i class="icon-reload"></i>
                                </a>
                            </li>
                            <li class="nav-item inline">
                                <a class="nav-link p-l-xs">
                                  <i class="icon-frame"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
        </div>
        <div class="box-body">
          <h4 class="m-a-0 text-3x">
            <span>
              {{(performances.durations.day.duration.days * 24) +
              performances.durations.day.duration.hours }}
              <span class="text-sm text-muted">Hours</span>
              {{performances.durations.day.duration.minutes}}
              <span class="text-sm text-muted">Minutes</span>
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <div class="box p-a box-shadow-z2">
        <div class="box-header">
          <h2>This Week</h2>
          <small>
            {{performances.durations.week.startedAt | date:
            settings.dateFormat}} - {{performances.durations.week.endedAt |
            date: settings.dateFormat}}
          </small>
          <!-- <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline">
                                <a class="nav-link">
                                  <i class="icon-reload"></i>
                                </a>
                            </li>
                            <li class="nav-item inline">
                                <a class="nav-link p-l-xs">
                                  <i class="icon-frame"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
        </div>
        <div class="box-body">
          <h4 class="m-a-0 text-3x">
            <span>
              {{(performances.durations.week.duration.days * 24) +
              performances.durations.week.duration.hours }}
              <span class="text-sm text-muted">Hours</span>
              {{performances.durations.week.duration.minutes}}
              <span class="text-sm text-muted">Minutes</span>
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <div class="box p-a box-shadow-z2">
        <div class="box-header">
          <h2>This Month</h2>
          <small>
            {{performances.durations.month.startedAt | date:
            settings.dateFormat}} - {{performances.durations.month.endedAt |
            date: settings.dateFormat}}
          </small>
          <!-- <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline">
                                <a class="nav-link">
                                  <i  class="icon-reload"></i>
                                </a>
                            </li>
                            <li class="nav-item inline">
                                <a class="nav-link p-l-xs">
                                  <i class="icon-frame"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
        </div>
        <div class="box-body">
          <h4 class="m-a-0 text-3x">
            <span>
              {{(performances.durations.month.duration.days * 24) +
              performances.durations.month.duration.hours }}
              <span class="text-sm text-muted">Hours</span>
              {{performances.durations.month.duration.minutes}}
              <span class="text-sm text-muted">Minutes</span>
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <div class="box p-a box-shadow-z2">
        <div class="box-header">
          <h2>Average Call Duration</h2>
          <small>
            {{party.createdAt | date: settings.dateFormat}} - Present
          </small>
          <!-- <div class="box-tool">
                      <ul class="nav">
                          <li class="nav-item inline">
                              <a class="nav-link">
                                <i  class="icon-reload"></i>
                              </a>
                          </li>
                          <li class="nav-item inline">
                              <a class="nav-link p-l-xs">
                                <i class="icon-frame"></i>
                              </a>
                          </li>
                      </ul>
                  </div> -->
        </div>
        <div class="box-body">
          <h4 class="m-a-0 text-3x">
            <span>
              {{(performances.durations.month.duration.days * 24) +
              performances.durations.month.duration.hours }}
              <span class="text-sm text-muted">Hours</span>
              {{performances.durations.month.duration.minutes}}
              <span class="text-sm text-muted">Minutes</span>
            </span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end service request counts -->
