<!-- start parties list -->
<div class="row-col lt">
  <!-- start parties list search -->
  <div class="p-a b-b list-search">
    <form>
      <div class="input-group">
        <input
          type="text"
          ng-change="onSearch()"
          ng-model="search.q"
          class="form-control form-control-sm"
          placeholder="Search Parties ..."
        />
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm no-shadow" type="button">
            <i class="ti-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
  <!-- end party list search -->
  <!-- start party listing -->
  <div class="row-row">
    <div class="row-body scrollable hover">
      <div class="row-inner">
        <div class="list" data-ui-list="info">
          <div
            ng-click="select(party)"
            class="list-item list-item-padded"
            ng-repeat="party in parties"
            title="{{party.about}}"
          >
            <div class="list-left">
              <span class="w-40 avatar circle">
                <letter-avatar
                  title="Avatar"
                  data="{{party.name}}"
                  height="60"
                  width="60"
                  shape="round"
                >
                </letter-avatar>
              </span>
            </div>
            <div class="list-body">
              <span title="Working Area" class="pull-right text-xs text-muted">
                {{party.jurisdiction.name}}
              </span>
              <div class="item-title" title="Full Name">
                <span class="_500">{{party.name}}</span>
              </div>
              <p
                title="Work Description"
                class="block text-muted text-ellipsis"
              >
                {{party.relation.type}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end party listing -->
  <!-- start pagination -->
  <div class="p-x-md p-y">
    <div
      class="btn-group pull-right list-pager"
      uib-pager
      ng-show="willPaginate()"
      total-items="total"
      ng-model="page"
      items-per-page="limit"
      ng-change="find()"
      template-url="views/_partials/list_pager.html"
    ></div>
    <span class="text-sm text-muted">Total: {{total}}</span>
  </div>
  <!-- end pagination -->
</div>
<!-- end parties list -->
