<!-- start servicerequests side subnav -->
<div class="row-col bg b-r">
  <!-- start title -->
  <div class="b-b">
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <span class="navbar-item text-md">Settings</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- end title -->
  <!-- start body -->
  <div class="row-row">
    <div class="row-body scrollable hover">
      <div class="row-inner">
        <!-- start services menu -->
        <div class="p-a-md">
          <div class="m-b text-muted text-xs" title="System Settings">
            System
          </div>
          <div class="nav-active-white">
            <ul class="nav">
              <li
                show-if-has-any-permit="jurisdiction:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.jurisdictions"
                  class="nav-link text-muted block"
                >
                  Jurisdictions
                </a>
              </li>
              <li
                show-if-has-any-permit="zone:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a ui-sref="app.manage.zones" class="nav-link text-muted block">
                  Zones
                </a>
              </li>
              <li
                show-if-has-any-permit="servicegroup:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.servicegroups"
                  class="nav-link text-muted block"
                >
                  Groups
                </a>
              </li>
              <li
                show-if-has-any-permit="servicetype:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.servicetypes"
                  class="nav-link text-muted block"
                >
                  Types
                </a>
              </li>
              <li
                show-if-has-any-permit="service:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.services"
                  class="nav-link text-muted block"
                >
                  Services
                </a>
              </li>
              <li
                show-if-has-any-permit="status:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.statuses"
                  class="nav-link text-muted block"
                >
                  Statuses
                </a>
              </li>
              <li
                show-if-has-any-permit="priority:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.priorities"
                  class="nav-link text-muted block"
                >
                  Priorities
                </a>
              </li>
              <li
                show-if-has-any-permit="item:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a ui-sref="app.manage.items" class="nav-link text-muted block">
                  Items
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end services menu -->
        <!-- start quality control menu -->
        <div
          class="p-a-md"
          show-if-has-any-permit="qualitycause:view, qualitymeasure:view, qualityadvisory:view"
        >
          <div class="m-b text-muted text-xs" title="Quality Control Settings">
            Quality Control
          </div>
          <div class="nav-active-white">
            <ul class="nav">
              <li
                show-if-has-any-permit="qualitycause:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.qualitycauses"
                  class="nav-link text-muted block"
                >
                  Causes
                </a>
              </li>
              <li
                show-if-has-any-permit="qualitymeasure:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.qualitymeasures"
                  class="nav-link text-muted block"
                >
                  Measures
                </a>
              </li>
              <li
                show-if-has-any-permit="qualityadvisory:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.qualityadvisories"
                  class="nav-link text-muted block"
                >
                  Advisories
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end quality control menu -->
        <!-- start statuses menu -->
        <div class="p-a-md" show-if-has-any-permit="user:view, role:view">
          <div class="m-b text-muted text-xs" title="User Management">
            User Management
          </div>
          <div class="nav-active-white">
            <ul class="nav">
              <li
                show-if-has-any-permit="user:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a
                  ui-sref="app.manage.parties"
                  class="nav-link text-muted block"
                >
                  Parties
                </a>
              </li>
              <li
                show-if-has-any-permit="role:view"
                ui-sref-active="active"
                class="nav-item m-b-xs"
              >
                <a ui-sref="app.manage.roles" class="nav-link text-muted block">
                  Roles
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end statuses menu -->
      </div>
    </div>
  </div>
  <!-- end body -->
</div>
<!-- end servicerequests side subnav -->
