<!-- start servicerequests side subnav -->
<div class="row-col bg b-r">
    <!-- start title -->
    <div class="b-b">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <span class="navbar-item text-md">Settings</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- end title -->
    <!-- start body -->
    <div class="row-row">
        <div class="row-body scrollable hover">
            <div class="row-inner">
                <!-- start view all -->
                <div class="p-a-md nav-active-white" style="padding-bottom: 0rem;padding-left: 1.2rem">
                    <ul class="nav">
                        <li class="nav-item m-b-xs">
                            <a hre="#" class="nav-link text-muted block" title="My Profile">My Profile</a>
                        </li>
                    </ul>
                </div>
                <!-- end view all -->
                <!-- start services menu -->
                <div class="p-a-md">
                    <div class="m-b text-muted text-xs" title="System Settings">System</div>
                    <div class="nav-active-white">
                        <ul class="nav">
                            <li ui-sref-active="active" class="nav-item m-b-xs">
                                <a ui-sref="app.manage.jurisdictions" class="nav-link text-muted block">
                                Jurisdictions
                                </a>
                            </li>
                            <li ui-sref-active="active" class="nav-item m-b-xs">
                                <a ui-sref="app.manage.servicegroups" class="nav-link text-muted block">
                                Groups
                                </a>
                            </li>
                            <li ui-sref-active="active" class="nav-item m-b-xs">
                                <a ui-sref="app.manage.services" class="nav-link text-muted block">
                                Services
                                </a>
                            </li>
                            <li ui-sref-active="active" class="nav-item m-b-xs">
                                <a ui-sref="app.manage.priorities" class="nav-link text-muted block">
                                Priorities
                                </a>
                            </li>
                            <li ui-sref-active="active" class="nav-item m-b-xs">
                                <a ui-sref="app.manage.statuses" class="nav-link text-muted block">
                                Statuses
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end services menu -->
                <!-- start statuses menu -->
                <div class="p-a-md">
                    <div class="m-b text-muted text-xs" title="General Settings">General</div>
                    <div class="nav-active-white">
                        <ul class="nav">
                            <li ui-sref-active="active" class="nav-item m-b-xs">
                                <a hre="#" class="nav-link text-muted block">
                                Users
                                </a>
                            </li>
                            <li ui-sref-active="active" class="nav-item m-b-xs">
                                <a hre="#" class="nav-link text-muted block">
                                Roles
                                </a>
                            </li>
                            <li ui-sref-active="active" class="nav-item m-b-xs">
                                <a hre="#" class="nav-link text-muted block">
                                Configuration
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end statuses menu -->
            </div>
        </div>
    </div>
    <!-- end body -->
</div>
<!-- end servicerequests side subnav -->
