<!-- start overall area  summary -->
<div class="padding m-t-md">
  <!-- start report box -->
  <div class="box b-a p-l-0">
    <!-- start header -->
    <div class="box-header b-b p-t-md p-b-md" title="Overview Summary">
      <h3>Overview Summary</h3>
      <!-- <small>Sub title goes here with small font</small> -->
    </div>
    <!-- end header -->

    <!-- start body -->
    <div>
      <!-- start overall stats -->

      <!-- start operator overall performance summary -->
      <div class="row no-gutter">
        <!-- start total -->
        <div class="col-xs-6 col-sm-2 b-r b-b" title="Total Service Requests">
          <div class="padding">
            <div class="text-center">
              <h2 class="text-center _600 m-t-md">
                {{ performances.overall.count | number: 0 }}
              </h2>
              <p class="text-muted m-b-md">Total</p>
            </div>
          </div>
        </div>
        <!-- end total -->

        <!-- start pending -->
        <div class="col-xs-6 col-sm-2 b-r b-b" title="Pending Service Requests">
          <div class="padding">
            <div class="text-center">
              <h2 class="text-center _600 m-t-md">
                {{ performances.overall.pending | number: 0 }}
              </h2>
              <p class="text-muted m-b-md">Pending</p>
            </div>
          </div>
        </div>
        <!-- end pending -->

        <!-- start resolved -->
        <div
          class="col-xs-6 col-sm-2 b-r b-b"
          title="Resolved Service Requests"
        >
          <div class="padding">
            <div class="text-center">
              <h2 class="text-center _600 m-t-md">
                {{ performances.overall.resolved | number: 0 }}
              </h2>
              <p class="text-muted m-b-md">Resolved</p>
            </div>
          </div>
        </div>
        <!-- end resolved -->

        <!-- start late -->
        <div
          class="col-xs-6 col-sm-2 b-r b-b"
          title="Late(Past SLA Time) Service Requests"
        >
          <div class="padding">
            <div class="text-center">
              <h2 class="text-center _600 m-t-md">
                {{ performances.overall.late | number: 0 }}
              </h2>
              <p class="text-muted m-b-md">Late</p>
            </div>
          </div>
        </div>
        <!-- end late  -->

        <!-- start average attend time -->
        <div
          class="col-xs-6 col-sm-2 b-r b-b"
          title="Average Attend Time(Call Duration)"
        >
          <div class="padding">
            <div class="text-center">
              <h2 class="text-center _600 m-t-md">
                <span
                  title="Average Attend Time(Call Duration) - Minutes Spent"
                >
                  {{ performances.overall.averageAttendTime.minutes }}
                  <span class="text-muted text-xs">mins</span>
                </span>
                <span
                  title="Average Attend Time(Call Duration) - Seconds Spent"
                >
                  {{ performances.overall.averageAttendTime.seconds }}
                  <span class="text-muted text-xs">secs</span>
                </span>
              </h2>
              <p class="text-muted m-b-md">Average Attend Time</p>
            </div>
          </div>
        </div>
        <!-- end average attend time -->

        <!-- start average resolve time -->
        <div class="col-xs-6 col-sm-2 b-b" title="Average resolve Time">
          <div class="padding">
            <div class="text-center">
              <h2 class="text-center _600 m-t-md">
                <span title="Average resolve Time - Hourss Spent">
                  {{ performances.overall.averageResolveTime.hours +
                  performances.overall.averageResolveTime.days * 24 }}
                  <span class="text-muted text-xs">hrs</span>
                </span>
                <span title="Average resolve Time - Minutes Spent">
                  {{ performances.overall.averageResolveTime.minutes }}
                  <span class="text-muted text-xs">mins</span>
                </span>
              </h2>
              <p class="text-muted m-b-md">Average Resolve Time</p>
            </div>
          </div>
        </div>
        <!-- end average resolve time -->
      </div>
      <!-- end operator overall performance summary -->
      <!-- end overall stats -->
    </div>
    <!-- end body -->
  </div>
  <!-- end report box -->
</div>
<!-- end overall area summary -->
