<!-- start service request counts -->
<hr>
<div class="p-a-lg">
    <!-- start header -->
    <div>
        <h4 title="Hours Spent Working">Hours Spent Working</h4>
        <small class="block text-muted" title="Total Number of Hours Spent on Attending Service Requests">
          Total Number of Hours Spent on Attending Service Requests
      </small>
    </div>
    <!-- end header -->
    <div class="row m-t-lg">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box p-a">
                <div class="box-header">
                    <h2>Today</h2>
                    <small>{{filters.durations.day.startedAt | date: settings.dateFormat}}</small>
                    <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline">
                                <a class="nav-link">
                                  <i class="icon-reload"></i>
                                </a>
                            </li>
                            <li class="nav-item inline">
                                <a class="nav-link p-l-xs">
                                  <i class="icon-frame"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <h4 class="m-a-0 text-4x"><a href="#">
                      00 <span class="text-sm text-muted">Hours</span>
                      35 <span class="text-sm text-muted">Minutes</span></a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 offset-lg-1">
            <div class="box p-a">
                <div class="box-header">
                    <h2>This Week</h2>
                    <small>
                      {{filters.durations.week.startedAt | date: settings.dateFormat}}  -
                      {{filters.durations.week.endedAt | date: settings.dateFormat}}
                    </small>
                    <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline">
                                <a class="nav-link">
                                  <i class="icon-reload"></i>
                                </a>
                            </li>
                            <li class="nav-item inline">
                                <a class="nav-link p-l-xs">
                                  <i class="icon-frame"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <h4 class="m-a-0 text-4x">
                        <a href="#">
                          16 <span class="text-sm text-muted">Hours</span>
                          24 <span class="text-sm text-muted">Minutes</span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 offset-lg-1">
            <div class="box p-a">
                <div class="box-header">
                    <h2>This Month</h2>
                    <small>
                        {{filters.durations.month.startedAt | date: settings.dateFormat}}  -
                        {{filters.durations.month.endedAt | date: settings.dateFormat}}
                    </small>
                    <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline">
                                <a class="nav-link">
                                  <i  class="icon-reload"></i>
                                </a>
                            </li>
                            <li class="nav-item inline">
                                <a class="nav-link p-l-xs">
                                  <i class="icon-frame"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <h4 class="m-a-0 text-4x"><a href="#">
                        100 <span class="text-sm text-muted">Hours</span>
                        15 <span class="text-sm text-muted">Minutes</span></a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end service request counts -->
