<!-- start service groups summary -->
<div class="padding m-t-md">
  <!-- start report box -->
  <div class="box b-a p-l-0">
    <!-- start header -->
    <div
      class="box-header b-b p-t-md  p-b-md"
      title="Attended Service Requests Breakdown"
    >
      <h3>Attended Service Requests Breakdown</h3>
      <!-- <small>Sub title goes here with small font</small> -->
    </div>
    <!-- end header -->

    <!-- start toolbox -->
    <div class="box-tool p-t-sm">
      <!-- start time filters -->
      <ul class="nav">
        <!-- start export -->
        <li class="nav-item inline">
          <a
            title="Click To Export"
            class="btn btn-xs rounded white"
            aria-expanded="false"
            ng-csv="export('groups')"
            csv-header="exports.groups.headers"
            filename="service_groups_performance_reports_{{filters.startedAt | date:settings.dateFormat}}_{{filters.endedAt | date:settings.dateFormat}}.csv"
          >
            Export
          </a>
        </li>
        <!-- end export -->
      </ul>
      <!-- end time filters -->
    </div>
    <!-- end toolbox -->

    <!-- start body -->
    <div>
      <div class="row-col">
        <!-- start tabular stats -->
        <div class="col-sm-7">
          <table class="table table-bordered table-stats">
            <thead>
              <tr>
                <th title="Service">
                  Service
                </th>
                <th title="Total Count of Service Requests">
                  Total
                </th>
                <th title="Total Count of Open Service Requests">
                  open
                </th>
                <th title="Total Count of In Progress Service Requests">
                  In Progress
                </th>
                <th title="Total Count of Closed Service Requests">
                  Close
                </th>
                <th title="Total Count of Resolved Service Requests">
                  Resolved
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="serviceRequest in performances.breakdown">
                <td title="{{serviceRequest.name}}">
                  {{serviceRequest.name}}
                </td>
                <td title="{{serviceRequest.total | number:0}}">
                  {{serviceRequest.total | number:0}}
                </td>
                <td title=" {{serviceRequest.open | number:0}}">
                  {{serviceRequest.open | number:0}}
                </td>
                <td title=" {{serviceRequest.inprogress | number:0}}">
                  {{serviceRequest.inprogress | number:0}}
                </td>
                <td title=" {{serviceRequest.close | number:0}}">
                  {{serviceRequest.close | number:0}}
                </td>
                <td title=" {{serviceRequest.resolved | number:0}}">
                  {{serviceRequest.resolved | number:0}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end tabular stats -->
      </div>
    </div>
    <!-- end body -->
  </div>
  <!-- end report box -->
</div>
<!-- end service groups summary -->
