<!-- start service request counts -->
<hr>
<div class="p-a-lg">
    <!-- start header -->
    <div>
        <h4 title="Work Performed">Work Performed</h4>
        <small class="block text-muted" title="Total Number of Service Requests Received">
          Total Number of Service Requests Received
      </small>
    </div>
    <!-- end header -->
    <div class="row m-t-lg">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box p-a">
                <div class="box-header">
                    <h2>Today</h2>
                    <small>{{performances.works.day.startedAt | date: settings.dateFormat}}</small>
                    <!-- <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline">
                                <a class="nav-link">
                                  <i class="icon-reload"></i>
                                </a>
                            </li>
                            <li class="nav-item inline">
                                <a class="nav-link p-l-xs">
                                  <i class="icon-frame"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="box-body">
                    <h4 class="m-a-0 text-3x">
                        <a href="#">{{performances.works.day.count}}</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 offset-lg-1">
            <div class="box p-a">
                <div class="box-header">
                    <h2>This Week</h2>
                    <small>{{performances.works.week.startedAt | date: settings.dateFormat}} -
                       {{performances.works.week.endedAt | date: settings.dateFormat}}
                    </small>
                    <!-- <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline">
                                <a class="nav-link">
                                  <i class="icon-reload"></i>
                                </a>
                            </li>
                            <li class="nav-item inline">
                                <a class="nav-link p-l-xs">
                                  <i class="icon-frame"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="box-body">
                    <h4 class="m-a-0 text-3x">
                        <a href="#">{{performances.works.week.count}}</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 offset-lg-1">
            <div class="box p-a">
                <div class="box-header">
                    <h2>This Month</h2>
                    <small>
                        {{performances.works.month.startedAt | date: settings.dateFormat}}  -
                        {{performances.works.month.endedAt | date: settings.dateFormat}}
                    </small>
                    <!-- <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline">
                                <a class="nav-link">
                                  <i class="icon-reload"></i>
                                </a>
                            </li>
                            <li class="nav-item inline">
                                <a class="nav-link p-l-xs">
                                  <i class="icon-frame"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="box-body">
                    <h4 class="m-a-0 text-3x">
                        <a href="#">{{performances.works.month.count}}</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end service request counts -->
