<!-- start priority details -->
<div class="row-col">
    <div class="white b-b bg">
        <!-- start priority detail action bar -->
        <div ng-include="'views/priorities/_partials/action_bar.html'" class="navbar"></div>
        <!-- end priority details action bar -->
    </div>
    <!-- start priority body -->
    <div class="row-row">
        <div class="row-body">
            <div class="row-inner">
                <div class="padding">
                    <form ng-submit="save()" name="servicerequestForm" role="form" autocomplete="off" novalidate>
                        <div class="box">
                            <div class="box-body">
                                <div class="m-b" title="Priority Name">
                                    <div class="form-group form-material floating">
                                        <input ng-disabled="!edit" ng-model="priority.name" ng-required ng-minlength="2" type="text" name="name" class="form-control" />
                                        <label title="Priority Name" class="floating-label">Name</label>
                                    </div>
                                </div>
                                <div class="m-t-lg" title="Priority Weight">
                                    <div class="form-group form-material floating">
                                        <input ng-disabled="!edit" ng-model="priority.weight" ng-required type="number" name="name" class="form-control" />
                                        <label title="Priority Weight" class="floating-label">Weight</label>
                                    </div>
                                </div>
                                <div class="m-t-lg" title="Priority Color">
                                    <color-picker ng-model="priority.color">
                                    </color-picker>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end priority body -->
</div>
<!-- end priority details -->
