<!-- start report header -->
<div class="app-header bg b-b bg-white">
    <div class="navbar">
        <!-- start report title -->
        <div class="navbar-item pull-left h5 text-md">
            Performance
        </div>
        <!-- end report title -->
        <!-- start report actions -->
        <ul class="nav navbar-nav pull-right">

            <!-- start filter -->
            <li class="nav-item">
                <a ng-click="showFilter()" class="nav-link" aria-expanded="false" title="Click to Filter Report">
                  <i class="ion-android-funnel w-24" title="Click To Filter Reports"></i>
                </a>
            </li>
            <!-- end filter -->

        </ul>
        <!-- end report actions -->
    </div>
</div>
<!-- end report header -->
<!-- start app body -->
<div class="app-body">
    <div class="app-body-inner">

        <!-- start jurisdiction summary and (ttr & att) -->
        <ng-include src="'views/dashboards/performance/_partials/jurisdiction_summary.html'"></ng-include>
        <!-- end jurisdiction summary and (ttr & att) -->

        <!-- start overal and pipeline summary -->
        <div class="row no-gutter">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <!-- start of area overall summary -->
                <ng-include src="'views/dashboards/performance/_partials/overall_summary.html'"></ng-include>
                <!-- end of area overall summary -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <!-- start area service pipeline -->
                <ng-include src="'views/dashboards/performance/_partials/pipeline_summary.html'"></ng-include>
                <!-- end area service pipeline -->
            </div>
        </div>
        <!-- start overal and pipeline summary -->

         <!-- start service groups summary -->
        <ng-include ng-if="performances.groups && performances.groups.length > 0" src="'views/dashboards/performance/_partials/service_groups_summary.html'"></ng-include>
        <!-- end service groups summary -->

        <hr>
        <div class="padding" style="display: none">
            <!-- start of leader's board section -->
            <div class="row m-t-lg">
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <!-- start of staff leaderboard -->
                    <ng-include ng-if="performances.operators" src="'views/dashboards/_partials/service_request_leaderboard.html'" />
                    <!-- end of staff leaderboard -->
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1">
                    <!-- start of area leaderboard -->
                    <ng-include ng-if="performances.jurisdictions" src="'views/dashboards/_partials/service_request_area_leaderboard.html'" />
                    <!-- end of area leaderboard -->
                </div>
            </div>
            <!-- end of leader's board section -->
        </div>

    </div>
</div>
<!-- end app body -->
