<!-- start report header -->
<div class="app-header bg b-b bg-white">
    <div class="navbar">
        <!-- start report title -->
        <div class="navbar-item pull-left h5 text-md">
            Performance
        </div>
        <!-- end report title -->
    </div>
</div>
<!-- end report header -->
<!-- start app body -->
<div class="app-body">
    <div class="app-body-inner">
        <!-- start profile summary and service request pipelines -->
        <ng-include src="'views/dashboards/performance/_partials/profile_summary.html'"></ng-include>
        <!-- end profile summary and service request pipelines -->
    </div>
</div>
<!-- end app body -->
