<!-- start aside -->
<div class="navside dk" data-layout="column">
    <!-- start brand details -->
    <div class="navbar no-radius">
        <a href="index.html" class="navbar-brand">
            <div data-ui-include="'images/logo.svg'"></div>
            <img src="images/logo.png" alt="." class="hide">
            <span class="hidden-folded inline">aside</span>
        </a>
    </div>
    <!-- end brand details -->
    <!-- start menu actions -->
    <div data-flex class="hide-scroll">
        <nav class="scroll nav-stacked nav-stacked-rounded nav-color">
            <ul class="nav" data-ui-nav>
                <li class="nav-header hidden-folded">
                    <span class="text-xs">Main</span>
                </li>
                <li>
                    <a href="#" class="b-danger">
                        <span class="nav-icon text-white no-fade">
                            <i class="ion-filing"></i>
                        </span>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="b-success">
                        <span class="nav-icon text-white no-fade">
                            <i class="ion-android-apps"></i>
                        </span>
                        <span class="nav-text">Projects</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="b-info">
                        <span class="nav-icon text-white no-fade">
                            <i class="ion-email"></i>
                        </span>
                        <span class="nav-text">Inbox</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="b-default">
                        <span class="nav-label">
                            <b class="label label-xs rounded danger"></b>
                        </span>
                        <span class="nav-icon">
                            <i class="ion-chatbubble-working"></i>
                        </span>
                        <span class="nav-text">Messages</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="b-default">
                        <span class="nav-icon">
                            <i class="ion-person"></i>
                        </span>
                        <span class="nav-text">Contacts</span>
                    </a>
                </li>
                <li class="nav-header hidden-folded m-t">
                    <span class="text-xs">UI Elements</span>
                </li>
                <li>
                    <a>
                        <span class="nav-icon">
                            <i class="ion-plus-circled"></i>
                        </span>
                        <span class="nav-text">UI kit</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <span class="nav-icon">
                            <i class="ion-ios-photos"></i>
                        </span>
                        <span class="nav-text">Pages</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <span class="nav-icon">
                            <i class="ion-checkmark-circled"></i>
                        </span>
                        <span class="nav-text">Form</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <span class="nav-icon">
                            <i class="ion-ios-grid-view"></i>
                        </span>
                        <span class="nav-text">Tables</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Reports">
                        <span class="nav-icon">
                            <i class="ion-pie-graph"></i>
                        </span>
                        <span class="nav-text">Reports</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- end menu actions -->
    <!-- start profile actions -->
    <div data-flex-no-shrink>
        <div uib-dropdown class="nav-fold dropup">
            <a uib-dropdown-toggle data-toggle="dropdown">
                <div class="pull-left">
                    <div class="inline">
                        <letter-avatar title="{{party.name}}" data="{{party.name}}" height="60" width="60" shape="round" class="avatar w-40">
                        </letter-avatar>
                    </div>
                </div>
                <div class="clear hidden-folded p-x">
                    <span class="block _500 text-muted">Jean Reyes</span>
                    <div class="progress-xxs m-y-sm lt progress">
                        <div class="progress-bar info" style="width: 15%">
                        </div>
                    </div>
                </div>
            </a>
            <div uib-dropdown-menu class="dropdown-menu w dropdown-menu-scale">
                <a class="dropdown-item" href="#">
                    <span>Profile</span>
                </a>
                <a class="dropdown-item" href="#">
                    <span>Settings</span>
                </a>
                <a class="dropdown-item" href="#">
                    Sign out
                </a>
            </div>
        </div>
    </div>
    <!-- end profile actions -->
</div>
<!-- end aside -->
