<!-- start alert layout -->
<div class="app-body">
  <div class="app-body-inner">
    <!-- start main alert content -->
    <div class="row-col">
      <!-- start side subnav -->
      <div ng-include="'views/alerts/_partials/side_subnav.html'" class="col-xs-3 w-xxs modal fade aside aside-md alerts-aside"
        id="subnav"></div>
      <!-- end side subnav -->
      <!-- start alerts list -->
      <div ng-include="'views/alerts/_partials/list.html'" class="col-xs-3 w-xl modal fade aside aside-sm b-r alerts-list"
        id="list"></div>
      <!-- end alerts list -->
    </div>
    <!-- end main alert content -->
  </div>
</div>
<!-- end alert layout -->
