<!-- start party page actions -->
<div class="actions-main">
    <div class="btn-group">
        <button ng-click="find()" class="btn btn-icon btn-pure btn-default" aria-expanded="false" type="button" title="Click to Refresh Users">
            <i class="icon icon-refresh font-size-18" aria-hidden="true"></i>
        </button>
        <button show-if-has-permits="User:create" ui-sref="app.parties.create" class="btn btn-icon btn-pure btn-default" aria-expanded="false" type="button" title="Click to Add New User">
            <i class="icon icon-user-follow font-size-18" aria-hidden="true"></i>
        </button>
    </div>
</div>
<!-- end party page actions -->
