<!-- modal header -->
<div class="modal-header">
    <div class="b-b">
        <button type="button" class="close pull-right" ng-click="$close()" aria-hidden="true">×</button>
        <h4 class="modal-title">{{title}} Account Accessor</h4>
    </div>
</div>
<!-- end modal header -->

<div class="modal-body">
    <!-- account accessors list -->
    <div class="box">
        <div class="m-l-lg m-r-lg">
            <form role="form">
                <div class="form-group">
                    <label for="name">Customer Name</label>
                    <input type="text" ng-model="accessor.name" class="form-control" id="name" placeholder="Enter Customer Full Name" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" ng-model="accessor.phone" class="form-control" id="phone" placeholder="Enter Phone Number" required>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" ng-model="accessor.email" class="form-control" id="email" placeholder="Enter Email Address">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- end account accessors list -->
</div>

<!-- start filter footer -->
<div class="modal-footer">
    <button class="btn btn-default" ng-click="openAccessorList()">Back</button>
    <button class="btn btn-primary" ng-click="addAccessor()">Save</button>
</div>
<!-- end footer filter -->
