<!-- start side navbar -->
<div class="page-aside-switch" ng-click="switch()">
    <i class="icon wb-chevron-left" aria-hidden="true"></i>
    <i class="icon wb-chevron-right" aria-hidden="true"></i>
</div>
<div class="page-aside-inner">
    <h5 ui-sref="app.dashboard" title="Dashboard" tooltip-placement="bottom" class="page-aside-title pointer brand-color font-size-16">
            {{ENV.title}}<strong class="font-size-10 brand-color">{{ENV.version}}</strong>
        </h5>
    <section class="page-aside-section">
        <h5 class="page-aside-title">Main</h5>
        <div class="list-group">
            <a ui-sref="app.issues.list" ui-sref-active="active" title="Reported Issues & Service Requests" class="list-group-item">
                <i class="icon icon-cursor" aria-hidden="true"></i>Issues
            </a>
            <a ui-sref="app.products.list" ui-sref-active="active" title="Reports" class="list-group-item">
                <i class="icon icon-layers" aria-hidden="true"></i>Reports
            </a>
        </div>
    </section>
    <section class="page-aside-section">
        <h5 class="page-aside-title">Quicks</h5>
        <div class="list-group has-actions">
            <a ui-sref="app.issues.create" ui-sref-active="active" title="Create & Report New Issue" class="list-group-item">
                <i class="icon ti-plus" aria-hidden="true"></i>New Issue
            </a>
        </div>
    </section>
    <section class="page-aside-section">
        <h5 class="page-aside-title">Manage</h5>
        <div class="list-group">
            <a ui-sref="app.parties.list" ui-sref-active="active" title="Manage Users" class="list-group-item">
                <i class="icon icon-people" aria-hidden="true"></i>Users
            </a>
            <a ui-sref="app.settings" ui-sref-active="active" title="Settings" class="list-group-item">
                <i class="icon icon-settings" aria-hidden="true"></i>Settings
            </a>
            <a ng-show="isAuthenticated" ui-sref="app.profile" ui-sref-active="active" title="My Profile" class="list-group-item" title="Profile">
                <i class="icon ti-user" aria-hidden="true"></i>Profile
            </a>
            <a ng-show="isAuthenticated" ng-show="isAuthenticated" href="#" data-signout title="Signout" class="list-group-item">
                <i class="icon icon-login" aria-hidden="true"></i>Signout
            </a>
        </div>
    </section>
</div>
<!-- end side navbar -->
