<!-- start header -->
<div class="page-header">
    <h1 class="page-title">&nbsp;</h1>
    <div class="page-header-actions">
        <form>
            <div class="input-search input-search-dark">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="" placeholder="Search...">
            </div>
        </form>
    </div>
</div>
<!-- end header-->
<!--start page content-->
<div class="page-content page-content-table">
    <!--start toolbar actions-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-content-actions">
                    <div class="pull-right">
                        <div class="btn-group media-arrangement" role="group">
                            <button ui-sref="app.products.list" class="btn btn-outline btn-default" id="arrangement-list" type="button" title="View notifications list"><i class="icon wb-list" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end toolbar acctions-->
    <!--start main content-->
    <div class="container">
    </div>
    <!--end main content-->
</div>
<!--end page content-->