<!-- start dashboard header -->
<!-- <div class="app-header bg b-b">
    <div class="navbar">
        <div class="navbar-item pull-left h5">
            Standing - Reports
        </div>
    </div>
</div> -->
<!-- end dashboard header -->
<!-- start overview body -->
<div class="app-body">
  <div class="app-body-inner">
    <div class="row-col">
      <div class="col-lg b-r">
        <!-- start per jurisdiction count standing -->
        <div class="padding">
          <div class="row">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-header">
                  <h3>Issue per Area - Work Load</h3>
                  <small class="block text-muted">
                                 Count of Reported Issues by Their Area
                                </small>
                </div>
                <div class="box-body">
                  <echart config="perJurisdictionConfig" options="perJurisdictionOptions"></echart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end per jurisdiction count standing -->
        <!-- start per jurisdiction per service group count standing -->
        <div class="padding">
          <div class="row">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-header">
                  <h3>Issue per Area per Service Group - Affected Business Units</h3>
                  <small class="block text-muted">
                                 Count of Reported Issues by Their Area and Service Group
                                </small>
                </div>
                <div class="box-body">
                  <echart config="perJurisdictionPerServiceGroupConfig" options="perJurisdictionPerServiceGroupOptions"></echart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end per jurisdiction per service group count standing -->
        <!-- start per jurisdiction per priority count standing -->
        <div class="padding">
          <div class="row">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-header">
                  <h3>Issue per Area per Priority - Work Severity</h3>
                  <small class="block text-muted">
                                 Count of Reported Issues by Their Area and Priority
                                </small>
                </div>
                <div class="box-body">
                  <echart config="perJurisdictionPerPriorityConfig" options="perJurisdictionPerPriorityOptions"></echart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end per jurisdiction per priority count standing -->
        <!-- start per jurisdiction per status count standing -->
        <div class="padding">
          <div class="row">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-header">
                  <h3>Issue per Area per Status - Work Progress</h3>
                  <small class="block text-muted">
                                 Count of Reported Issues by Their Area and Status
                                </small>
                </div>
                <div class="box-body">
                  <echart config="perJurisdictionPerStatusConfig" options="perJurisdictionPerStatusOptions"></echart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end per jurisdiction per status count standing -->
      </div>
    </div>
  </div>
</div>
<!-- end overview body -->
