<!-- start dashboard header -->
<div class="app-header bg b-b bg-white">
  <div class="navbar">
    <!-- start report title -->
    <div class="navbar-item pull-left h5 text-md">
      Standing - Reports
    </div>
    <!-- end report title -->
    <!-- start report actions -->
    <ul class="nav navbar-nav pull-right">
      <!-- start filter -->
      <li class="nav-item">
        <a
          ng-click="showFilter()"
          class="nav-link"
          aria-expanded="false"
          title="Click to Filter Report"
        >
          <i
            class="ion-android-funnel w-24"
            title="Click To Filter Reports"
          ></i>
        </a>
      </li>
      <!-- end filter -->
      <!-- start download -->
      <li class="nav-item" ng-if="standings && standings.length > 0">
        <a
          title="Click To Export Reports"
          class="nav-link"
          ng-csv="export"
          csv-header="exports.headers"
          filename="standings.csv"
        >
          <i
            class="icon-cloud-download w-24"
            title="Click To Export Reports"
          ></i>
        </a>
      </li>
      <!-- end download -->
    </ul>
    <!-- end report actions -->
  </div>
</div>
<!-- end dashboard header -->
<!-- start standing body -->
<div class="app-body">
  <div class="app-body-inner">
    <!-- start reports -->
    <div class="padding">
      <!-- start per jurisdiction count standing -->
      <div ng-if="perJurisdictionOptions.series[0].data.length > 0">
        <div class="row">
          <div class="col-sm-12">
            <div class="box">
              <div class="box-header">
                <h3>Issue per Area - Work Load</h3>
                <small class="block text-muted">
                  Count of Reported Issues by Their Area
                </small>
              </div>
              <div class="box-body p-l-none p-r-none">
                <echart
                  config="perJurisdictionConfig"
                  options="perJurisdictionOptions"
                ></echart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end per jurisdiction count standing -->
      <!-- start per jurisdiction per service group count standing -->
      <div ng-if="perJurisdictionPerServiceGroupOptions.series.length > 0">
        <div class="row">
          <div class="col-sm-12">
            <div class="box">
              <div class="box-header">
                <h3>
                  Issue per Area per Service Group - Affected Business
                  Units(Divisions)
                </h3>
                <small class="block text-muted">
                  Count of Reported Issues by Their Area and Service Group
                </small>
              </div>
              <div class="box-body p-l-none p-r-none">
                <echart
                  config="perJurisdictionPerServiceGroupConfig"
                  options="perJurisdictionPerServiceGroupOptions"
                ></echart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end per jurisdiction per service group count standing -->
      <!-- start per jurisdiction per service count standing -->
      <div ng-if="perJurisdictionPerServiceOptions.length > 0">
        <div class="row">
          <div class="col-sm-12">
            <div class="box">
              <div class="box-header">
                <h3>Issue per Area per Service - Impacted Business Services</h3>
                <small class="block text-muted">
                  Count of Reported Issues by Their Area and Service
                </small>
              </div>
              <div class="box-body p-l-none p-r-none">
                <echart
                  ng-repeat="options in perJurisdictionPerServiceOptions"
                  config="perJurisdictionPerServiceConfig"
                  options="options"
                ></echart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end per jurisdiction per service count standing -->
      <!-- start per jurisdiction per priority count standing -->
      <div ng-if="perJurisdictionPerPriorityOptions.series.length > 0">
        <div class="row">
          <div class="col-sm-12">
            <div class="box">
              <div class="box-header">
                <h3>Issue per Area per Priority - Work Severity</h3>
                <small class="block text-muted">
                  Count of Reported Issues by Their Area and Priority
                </small>
              </div>
              <div class="box-body p-l-none p-r-none">
                <echart
                  config="perJurisdictionPerPriorityConfig"
                  options="perJurisdictionPerPriorityOptions"
                ></echart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end per jurisdiction per priority count standing -->
      <!-- start per jurisdiction per status count standing -->
      <div ng-if="perJurisdictionPerStatusOptions.series.length > 0">
        <div class="row">
          <div class="col-sm-12">
            <div class="box">
              <div class="box-header">
                <h3>Issue per Area per Status - Work Progress</h3>
                <small class="block text-muted">
                  Count of Reported Issues by Their Area and Status
                </small>
              </div>
              <div class="box-body p-l-none p-r-none">
                <echart
                  config="perJurisdictionPerStatusConfig"
                  options="perJurisdictionPerStatusOptions"
                ></echart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end per jurisdiction per status count standing -->
    </div>
    <!-- end reports -->

    <!-- start no data description -->
    <div
      ng-if="perJurisdictionOptions.series[0].data.length === 0"
      class="row-col h-v"
    >
      <div class="row-cell v-m">
        <div class="text-center col-sm-6 offset-sm-3 p-y-lg">
          <p class="text-muted m-y-lg">
            No Data Found. Please update your filters.
          </p>
          <button
            ng-click="showFilter()"
            class="btn btn-outline b-grey text-grey"
            title="Click to update filters"
          >
            Update Filters
          </button>
        </div>
      </div>
    </div>
    <!-- end no data description -->
  </div>
</div>
<!-- end standing body -->
