<!-- start page actions -->
<div class="page-content-actions">
    <div class="pull-right">
        <button ui-sref="app.parties.create" type="button" class="btn btn-outline btn-default btn-md empty-btn" title="Add new user">
            <i class="icon icon-user-follow" aria-hidden="true"></i>
        </button>
        <button ui-sref="app.parties.list" class="btn btn-outline btn-default" id="arrangement-list" type="button" title="View user list"><i class="icon icon-list" aria-hidden="true"></i></button>
    </div>
</div>
<!-- end page actions -->