<!-- start role list -->
<tbody>
    <tr ng-repeat="role in roles" ui-sref="app.roles.show({id:role._id})" title="{{role.name}}" ng-class="{'active':!role.deletedAt, 'inactive':role.deletedAt}">
        <td>
            <div class="content">
                <div class="title font-weight-600">{{role.name}}</div>
                <div class="abstract font-size-12">{{role.description}}</div>
            </div>
        </td>
        <td class="cell-30 responsive-hide"></td>
        <td class="cell-130">
            <div class="time" title="Customer code">{{role.code}} </div>
        </td>
    </tr>
</tbody>
<!-- end role list -->